# Identificação do Participante

In [1]:
#preencha com sua matrícula no Formato F + 7 algarismos, sem dígito verificador
#exemplo: chaveF = "F1234567"
chaveF = "F6779951"

# Desafio Engenharia de Dados

O gestor gostaria de planejar as campanhas de alguns produtos específicos considerando as particularidades de cada município. Ele vai precisar fazer um estudo considerando o **público de cada linha de produtos** e as características de cada município, como por exemplo o **censo municipal**, as **principais atividades econômicas** do município, o **PIB total** e **per capita** e o **PIB por atividade**.  Ele espera, com isso, poder direcionar melhor os recursos para as praças de maior probabilidade de contratação, melhorando assim a eficácia da campanha.

Os produtos ou linhas alvo da campanha, bem como seus respectivos públicos são os que relacionamos abaixo:

**[BB Cash](https://www.bb.com.br/site/pra-voce/contas/bb-cash/)** - **Público:** população com 10 a 17 anos completos
    
**[Mulheres no Topo – Consórcio](https://www.bb.com.br/site/pro-seu-negocio/mulheres-no-topo/)** - **Público:** mulheres de 18 a 70 anos não completos
    
**[BrasilPrev Jr.](https://www1.brasilprev.com.br/previdencia-privada/brasilprev-junior)** - **Público:** população de 0 a 20 anos incompletos nos municípios com maior idh dentre aqueles que tenham 100 mil habitantes ou mais.
        
**[Custeio agrícola](https://www.bb.com.br/site/agronegocios/custeio/)** - **Público:** municípios com maior participação do Agronegócio no PIB dentre aqueles que tenham 5 mil habitantes ou mais.

# Bases de Dados

|Arquivo|Nome|Descrição|Referência|Fonte|
|---|---|---|---|---|
|idh_novo.csv|IHDM Municípios 2010|Índice de Desenvolvimento Humano Municipal (IDHM) da PNUD - Programa das Nações Unidas para Desenvolvimento. A tabela contém um ranking, ordenação ascendente, dos municípios de melhor pontuação no IDHM do país, incluindo os dados de IDHM Renda, Longevidade e Educação utilizados para o cálculo do índice. Possui dados referentes ao Censo 2010.|2010|https://www.undp.org/pt/brazil/idhm-municípios-2010|
|item_aqtt_uor.csv|Tabela de Itens de Arquitetura UOR|Representa os Itens de Arquitetura que existem em uma Instituição Organizacional para orientação da estrutura das Unidades Organizacionais (oriundo do sistema IOR).|2023|DB2UOR|
|municipios_bb.csv|Tabela de Municípios do BB|Tabela com todos os códigos internos das cidades em que o Banco do Brasil está presente e seus respectivos códigos no IBGE.|2023|Adaptado da IN-377 (Municípios Limítrofes)|
|municipios_ibge.csv|Tabela de Órgãos e Municípios|A Tabela de Órgãos e Municípios (TOM) contém a relação dos municípios brasileiros com a codificação utilizada pelos diversos sistemas da Receita Federal do Brasil (RFB), apresentando a estrutura organizacional e jurisdicional no âmbito da RFB e domínios de endereçamento.|2023|https://dados.gov.br/dados/conjuntos-dados/tabela-de-rgos-e-municpios|
|tabela1378csv_parte1.gz e tabela1378csv_parte2.gz|Tabela 1378|Populacao residente, por situacao do domicilio, sexo e idade, segundo a condicao no domicilio e compartilhamento da responsabilidade pelo domicilio (Censo Demográfico).|2010|https://sidra.ibge.gov.br/tabela/1378|
|tabela5938csv.gzip|Tabela 5938|Produto interno bruto (PIB) a preços correntes, impostos, líquidos de subsídios, sobre produtos a preços correntes e valor adicionado bruto a preços correntes total e por atividade econômica, e respectivas participações.|2020|https://sidra.ibge.gov.br/tabela/5938|
|uor.zip|UOR - Unidade Organizacional|Representa as Unidades Organizacionais (UOR) do conglomerado Banco do Brasil (no Brasil e Exterior) ou UOR externas que o BB tenha algum tipo de relacionamento ou interesse em identificá-las. Os dados foram anonimizados para utilização para fins didáticos.|2023|DB2UOR|


Veja a documentação completa no arquivo "Desafio engenharia - Documentação das tabelas.pdf".

# Relacionamento entre as Tabelas

![Capturar.PNG]()

# Orientações

## Orientações Gerais:

1) Inclua sua matrícula na seção de Identificação, no início deste Notebook.

2) **Link para envio:**

- https://envio-embaixadores.bb.com.br/

    - **Atenção:** não serão acatadas outras formas de envio. O link acima permite acesso com senha de portais externos.

3) Selecione a Trilha Engenharia ao enviar.

**Nome do arquivo:** cada participante deverá baixar o arquivo modelo do Jupyter Notebook (.ipynb) disponibilizado aqui (incluir link) e renomeá-lo de modo a conter:

- A matrícula com F maiúsculo, sete algarismos e sem dígito (FXXXXXXX)

- A trilha a qual a entrega se refere em letras minúsculas: engenharia

- O nome não deve conter espaços em branco. Substitua-os por “_”.

- O versionamento será gerado automaticamente na subida do arquivo, por meio do timestamp do envio.

    - Exemplo1: FXXXXXX_engenharia.ipynb

    - Exemplo2: FXXXXXX_engenharia_v3.ipynb

**Formato:** .ipynb

- **Atenção:** não carregar nenhum outro formato de arquivo, pois será ignorado

**Prazo final:** até às 18h (horário de Brasília) do dia 24/07/2023

## Pode:

- Inserir células no notebook (exceto após o Boletim de Soluções).

- Fazer vários envios.

- Desenvolver em outras plataformas e somente testar no [Labblite](https://labblite.bb.com.br/)/AnalyticsLabb (Plataforma BB -> Analytics| IA -> AnalyticsLabb).

## Não pode:

- Alterar bases de dados.

- Utilizar outros arquivos além dos disponibilizados.

- Excluir linhas do Boletim de Soluções.

- Apresentar erros no código.

- Compartilhar arquivos/código.

## Sobre os metadados da ABT

- Observe atentamente a documentação constante no enunciado de cada exercício, para evitar apontamentos nas verificações.

- A ordem dos atributos deverá ser obedecida na construção dos DataFrames.

- A nomenclatura de todos os campos da Tabela Base Analítica (ABT) deverá seguir o padrão de nomenclatura do Banco, conforme consulta disponível no Glossário.

- O nome físico não deve conter espaços, devendo as abreviações ser separadas por “_”. 

- Todas as palavras do Nome Lógico deverão ser abreviadas, com exceção apenas das preposições (ex.: de, com, para, até, etc.).

- Ao consultar o Glossário, é importante atentar para a existência de palavras compostas, que devem ser abreviadas juntas.

- O fato de o atributo aceitar nulos não significa, necessariamente, que ele deve apresentar valores nulos.

- Eventuais cálculos, formatações, transformações ou arredondamentos dos dados serão detalhados na descrição de cada atributo.


## Saiba Mais

Leia as orientações na íntegra no Arquivo Anexo ao Regulamento: [**Anexo 3 - Trilha Engenharia - Regras para desenvolvimento e Entrega da Solução**](https://dsmidias.bb.com.br/ea_44_engenharia_regras_desafio.pdf).

# Exercício 1 - Primeiros atributos da Tabela Base Analítica (ABT)

Criar um DataFrame chamado exercicio1 com os seguintes atributos:
    
|Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|
|Código do Município no IBGE|?|INT64|Código de todos os municípios do país conforme consta no sistema IBGE.|Não|municipios_ibge|CODIGO DO MUNICIPIO - IBGE|
|Nome do Município no IBGE|?|OBJECT|Nome correspondente ao município conforme consta no sistema do IBGE. Padrão caixa alta, sem acentuação.|Não|municipios_ibge|municipio - IBGE|
|Sigla da UF|?|OBJECT|Nome abreviado da unidade da federação a qual o município pertence, com dois caracteres. |Não|municipios_ibge|UF|
|Código do Município da UOR|?|INT64|Código do município do endereço da UOR mantido pelo sistema ARG.|Sim|municipios_bb|CD_MUN_UOR|

**Dica 1:** ao final do exercício, o DataFrame exercicio1 deverá conter apenas os atributos listados acima, nessa ordem.

**Dica 2:** consulte a nomenclatura padrão do BB disponível [aqui](https://plataforma.atendimento.bb.com.br:49286/estatico/gaw/app/spas/index/index.app.html?app=glossarioAppCDN&cd_modo_uso=46#/).

In [2]:
# importar biblioteca pandas
import pandas as pd
# importar biblioteca para ignorar os avisos do Python
import warnings
warnings.filterwarnings('ignore')

In [3]:
# ler o arquivo municipios_ibge.csv e atribuir a uma variável: pd.read_csv()
municipios_ibge = pd.read_csv('bases/municipios_ibge.csv', header=0, sep=';')
municipios_ibge.head()

,CODIGO DO MUNICIPIO - TOM,CODIGO DO MUNICIPIO - IBGE,MUNICIPIO - TOM,municipio - IBGE,UF
0,1,1100106,GUAJARA-MIRIM,Guajara-Mirim,RO
1,2,1100379,ALTO ALEGRE DOS PARECIS,Alto Alegre Dos Parecis,RO
2,3,1100205,PORTO VELHO,Porto Velho,RO
3,4,1100452,BURITIS,Buritis,RO
4,5,1100122,JI-PARANA,Ji-Parana,RO

In [4]:
#apresenta informações sobre o DataFrame
municipios_ibge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5571 entries, 0 to 5570
Data columns (total 5 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   CODIGO DO MUNICIPIO - TOM   5571 non-null   int64
 1   CODIGO DO MUNICIPIO - IBGE  5571 non-null   int64
 2   MUNICIPIO - TOM             5571 non-null   object
 3   municipio - IBGE            5571 non-null   object
 4   UF                          5571 non-null   object
dtypes: int64(2), object(3)
memory usage: 152.4+ KB

In [5]:
municipios_ibge.rename(columns={'CODIGO DO MUNICIPIO - IBGE' : 'Cod IBGE'}, inplace=True)
municipios_ibge.head()

,CODIGO DO MUNICIPIO - TOM,Cod IBGE,MUNICIPIO - TOM,municipio - IBGE,UF
0,1,1100106,GUAJARA-MIRIM,Guajara-Mirim,RO
1,2,1100379,ALTO ALEGRE DOS PARECIS,Alto Alegre Dos Parecis,RO
2,3,1100205,PORTO VELHO,Porto Velho,RO
3,4,1100452,BURITIS,Buritis,RO
4,5,1100122,JI-PARANA,Ji-Parana,RO

In [6]:
# ler o arquivo municipios_bb.csv e atribuir a uma variável: pd.read_csv()
municipios_bb = pd.read_csv('bases/municipios_bb.csv', header=0, sep=';')
municipios_bb.head()

   CD_MUN_UOR  Cod IBGE
0        5488   1100015
1        9560   1100023
2       17685   1100031
3       18355   1100049
4       24795   1100056

In [7]:
#apresenta informações sobre o DataFrame
municipios_bb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3117 entries, 0 to 3116
Data columns (total 2 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CD_MUN_UOR  3117 non-null   int64
 1   Cod IBGE    3117 non-null   int64
dtypes: int64(2)
memory usage: 48.8 KB

In [8]:
# unir os dois dataframes: .merge
municipios_ibge.merge(municipios_bb, how='left', on='Cod IBGE')

,CODIGO DO MUNICIPIO - TOM,Cod IBGE,MUNICIPIO - TOM,municipio - IBGE,UF,CD_MUN_UOR
0,1,1100106,GUAJARA-MIRIM,Guajara-Mirim,RO,38150.0
1,2,1100379,ALTO ALEGRE DOS PARECIS,Alto Alegre Dos Parecis,RO,NaN
2,3,1100205,PORTO VELHO,Porto Velho,RO,73400.0
3,4,1100452,BURITIS,Buritis,RO,17501.0
4,5,1100122,JI-PARANA,Ji-Parana,RO,49355.0
...,...,...,...,...,...,...
5566,5567,4217550,SERRA ALTA,Serra Alta,SC,89125.0
5567,5568,4218756,TUNAPOLIS,Tunapolis,SC,95050.0
5568,5569,5209457,GUARINOS,Guarinos,GO,NaN
5569,5570,5218789,RIO QUENTE,Rio Quente,GO,77710.0
5570,5571,5003157,CORONEL SAPUCAIA,Coronel Sapucaia,MS,NaN

In [9]:
#efetua a função de junção (merge) e aplica o nome do Dataframe de exercicio1
exercicio1=municipios_ibge.merge(municipios_bb, how='left', on='Cod IBGE')

In [10]:
#visualizr o dataframe exercicio1
exercicio1

,CODIGO DO MUNICIPIO - TOM,Cod IBGE,MUNICIPIO - TOM,municipio - IBGE,UF,CD_MUN_UOR
0,1,1100106,GUAJARA-MIRIM,Guajara-Mirim,RO,38150.0
1,2,1100379,ALTO ALEGRE DOS PARECIS,Alto Alegre Dos Parecis,RO,NaN
2,3,1100205,PORTO VELHO,Porto Velho,RO,73400.0
3,4,1100452,BURITIS,Buritis,RO,17501.0
4,5,1100122,JI-PARANA,Ji-Parana,RO,49355.0
...,...,...,...,...,...,...
5566,5567,4217550,SERRA ALTA,Serra Alta,SC,89125.0
5567,5568,4218756,TUNAPOLIS,Tunapolis,SC,95050.0
5568,5569,5209457,GUARINOS,Guarinos,GO,NaN
5569,5570,5218789,RIO QUENTE,Rio Quente,GO,77710.0
5570,5571,5003157,CORONEL SAPUCAIA,Coronel Sapucaia,MS,NaN

In [11]:
#remover as colunas 'CODIGO DO MUNICIPIO - TOM','municipio - IBGE'
exercicio1.drop(columns=['CODIGO DO MUNICIPIO - TOM','municipio - IBGE'], inplace=True)
exercicio1

      Cod IBGE          MUNICIPIO - TOM  UF  CD_MUN_UOR
0      1100106            GUAJARA-MIRIM  RO     38150.0
1      1100379  ALTO ALEGRE DOS PARECIS  RO         NaN
2      1100205              PORTO VELHO  RO     73400.0
3      1100452                  BURITIS  RO     17501.0
4      1100122                JI-PARANA  RO     49355.0
...        ...                      ...  ..         ...
5566   4217550               SERRA ALTA  SC     89125.0
5567   4218756                TUNAPOLIS  SC     95050.0
5568   5209457                 GUARINOS  GO         NaN
5569   5218789               RIO QUENTE  GO     77710.0
5570   5003157         CORONEL SAPUCAIA  MS         NaN

[5571 rows x 4 columns]

In [12]:
exercicio1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5571 entries, 0 to 5570
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Cod IBGE         5571 non-null   int64
 1   MUNICIPIO - TOM  5571 non-null   object
 2   UF               5571 non-null   object
 3   CD_MUN_UOR       3117 non-null   float64
dtypes: float64(1), int64(1), object(2)
memory usage: 174.1+ KB

In [13]:
exercicio1.rename(columns={'Cod IBGE' : 'CD_MUN_IBGE','MUNICIPIO - TOM' : 'NM_MUN_IBGE','UF':'SG_UF'}, inplace=True)
exercicio1.head()

   CD_MUN_IBGE              NM_MUN_IBGE SG_UF  CD_MUN_UOR
0      1100106            GUAJARA-MIRIM    RO     38150.0
1      1100379  ALTO ALEGRE DOS PARECIS    RO         NaN
2      1100205              PORTO VELHO    RO     73400.0
3      1100452                  BURITIS    RO     17501.0
4      1100122                JI-PARANA    RO     49355.0

In [14]:
exercicio1

      CD_MUN_IBGE              NM_MUN_IBGE SG_UF  CD_MUN_UOR
0         1100106            GUAJARA-MIRIM    RO     38150.0
1         1100379  ALTO ALEGRE DOS PARECIS    RO         NaN
2         1100205              PORTO VELHO    RO     73400.0
3         1100452                  BURITIS    RO     17501.0
4         1100122                JI-PARANA    RO     49355.0
...           ...                      ...   ...         ...
5566      4217550               SERRA ALTA    SC     89125.0
5567      4218756                TUNAPOLIS    SC     95050.0
5568      5209457                 GUARINOS    GO         NaN
5569      5218789               RIO QUENTE    GO     77710.0
5570      5003157         CORONEL SAPUCAIA    MS         NaN

[5571 rows x 4 columns]

In [15]:
#converter coluna para int64: "CD_MUN_UOR"
exercicio1['CD_MUN_UOR'] = exercicio1['CD_MUN_UOR'].astype("Int64")
exercicio1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5571 entries, 0 to 5570
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CD_MUN_IBGE  5571 non-null   int64
 1   NM_MUN_IBGE  5571 non-null   object
 2   SG_UF        5571 non-null   object
 3   CD_MUN_UOR   3117 non-null   Int64
dtypes: Int64(1), int64(1), object(2)
memory usage: 179.5+ KB

In [16]:
exercicio1

      CD_MUN_IBGE              NM_MUN_IBGE SG_UF  CD_MUN_UOR
0         1100106            GUAJARA-MIRIM    RO       38150
1         1100379  ALTO ALEGRE DOS PARECIS    RO        <NA>
2         1100205              PORTO VELHO    RO       73400
3         1100452                  BURITIS    RO       17501
4         1100122                JI-PARANA    RO       49355
...           ...                      ...   ...         ...
5566      4217550               SERRA ALTA    SC       89125
5567      4218756                TUNAPOLIS    SC       95050
5568      5209457                 GUARINOS    GO        <NA>
5569      5218789               RIO QUENTE    GO       77710
5570      5003157         CORONEL SAPUCAIA    MS        <NA>

[5571 rows x 4 columns]

# Exercício 2 - Atributos do PIB

A partir das informações do Produto Interno Bruto, crie um DataFrame chamado exercicio2 contendo os seguintes atributos:

|Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|
|Código do Município no IBGE|?|INT64|Código de todos os municípios do país conforme consta no sistema IBGE.|Não|tabela5938|?|
|Valor da Agropecuária|?|FLOAT64|Número correspondente a valor bruto da produção agrícola e pecuária de um município em um período, geralmente um ano, em escala de 10³ (1.000,00)|Sim|tabela5938|?|
|Valor do Produto Interno Bruto|?|FLOAT64|Número correspondente a valor do Produto Interno Bruto (PIB), em escala de 10³ (1.000,00)|Não|tabela5938|?|
|Valor do Produto Interno Bruto per capita|?|FLOAT64|Número correspondente a valor do Produto Interno Bruto per capita. Calculado a partir da divisão do PIB pelo número de pessoas economicamente ativas da região, em escala 100 (R$ 1,00)|Não|tabela5938|?|
|Índice de Participação do Agronegócio no PIB|?|FLOAT64|Índice variando de 0 a 1 que calcula a participação financeira do agronegócio no PIB de um município. Máximo de quatro casas decimais (décimos milésimos)|Sim|tabela5938|?|

**Dica:** antes de efetuar qualquer transformação nos dados, verifique a documentação da tabela.

In [17]:
# ler o arquivo tabela5938csv.gzip e atribuir a uma variável: pd.read_csv()
exercicio2 = pd.read_csv('bases/tabela5938csv.gzip',compression='gzip', header=0)
exercicio2.head()

,Unnamed: 0,Ano,Codigo da Grande Regiao,Nome da Grande Regiao,Codigo da Unidade da Federacao,Sigla da Unidade da Federacao,Nome da Unidade da Federacao,Codigo do Municipio,Nome do Municipio,Regiao Metropolitana,...,"Valor adicionado bruto da Industria,\na precos correntes\n(R$ 1.000)","Valor adicionado bruto dos Servicos,\na precos correntes \n- exceto Administracao, defesa, educacao e saude publicas e seguridade social\n(R$ 1.000)","Valor adicionado bruto da Administracao, defesa, educacao e saude publicas e seguridade social, \na precos correntes\n(R$ 1.000)","Valor adicionado bruto total, \na precos correntes\n(R$ 1.000)","Impostos, liquidos de subsidios, sobre produtos, \na precos correntes\n(R$ 1.000)","Produto Interno Bruto, \na precos correntes\n(R$ 1.000)","Produto Interno Bruto per capita, \na precos correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto,Atividade com segundo maior valor adicionado bruto,Atividade com terceiro maior valor adicionado bruto
0,0,2020,1,Norte,11,RO,Rondonia,1100015,Alta Floresta D'Oeste,NaN,...,20.716,150.192,160.860,535.163,35.109,570.272,"25.091,18","Administracao, defesa, educacao e saude public...","Pecuaria, inclusive apoio a pecuaria",Demais servicos
1,1,2020,1,Norte,11,RO,Rondonia,1100023,Ariquemes,NaN,...,404.752,1.207.405,710.513,2.522.393,295.656,2.818.049,"25.730,20",Demais servicos,"Administracao, defesa, educacao e saude public...",Comercio e reparacao de veiculos automotores e...
2,2,2020,1,Norte,11,RO,Rondonia,1100031,Cabixi,NaN,...,5.438,28.667,44.671,159.953,7.237,167.190,"32.226,25","Administracao, defesa, educacao e saude public...","Pecuaria, inclusive apoio a pecuaria","Agricultura, inclusive apoio a agricultura e a..."
3,3,2020,1,Norte,11,RO,Rondonia,1100049,Cacoal,NaN,...,275.537,1.157.344,575.806,2.244.902,274.451,2.519.353,"29.331,29",Demais servicos,"Administracao, defesa, educacao e saude public...",Comercio e reparacao de veiculos automotores e...
4,4,2020,1,Norte,11,RO,Rondonia,1100056,Cerejeiras,NaN,...,23.582,276.755,115.652,510.747,89.923,600.670,"37.069,25",Comercio e reparacao de veiculos automotores e...,Demais servicos,"Administracao, defesa, educacao e saude public..."

In [18]:
#apresenta informações sobre o DataFrame
exercicio2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 44 columns):
 #   Column                                                                                                                                             Non-Null Count  Dtype
---  ------                                                                                                                                             --------------  -----
 0   Unnamed: 0                                                                                                                                         5570 non-null   int64
 1   Ano                                                                                                                                                5570 non-null   int64
 2   Codigo da Grande Regiao                                                                                                                            5570 non-null   int64
 3   Nome da Grande Regiao                                                                                                                              5570 non-null   object
 4   Codigo da Unidade da Federacao                                                                                                                     5570 non-null   int64
 5   Sigla da Unidade da Federacao                                                                                                                      5570 non-null   object
 6   Nome da Unidade da Federacao                                                                                                                       5570 non-null   object
 7   Codigo do Municipio                                                                                                                                5570 non-null   int64
 8   Nome do Municipio                                                                                                                                  5570 non-null   object
 9   Regiao Metropolitana                                                                                                                               1432 non-null   object
 10  Codigo da Mesorregiao                                                                                                                              5570 non-null   int64
 11  Nome da Mesorregiao                                                                                                                                5570 non-null   object
 12  Codigo da Microrregiao                                                                                                                             5570 non-null   int64
 13  Nome da Microrregiao                                                                                                                               5570 non-null   object
 14  Codigo da Regiao Geografica Imediata                                                                                                               5570 non-null   int64
 15  Nome da Regiao Geografica Imediata                                                                                                                 5570 non-null   object
 16  Municipio da Regiao Geografica Imediata                                                                                                            5570 non-null   object
 17  Codigo da Regiao Geografica Intermediaria                                                                                                          5570 non-null   int64
 18  Nome da Regiao Geografica Intermediaria                                                                                                            5570 non-null   object
 19  Municipio da Regiao Geografica Intermediaria                                                                                                       5570 non-null   object
 20  Codigo Concentracao Urbana                                                                                                                         660 non-null    float64
 21  Nome Concentracao Urbana                                                                                                                           660 non-null    object
 22  Tipo Concentracao Urbana                                                                                                                           660 non-null    object
 23  Codigo Arranjo Populacional                                                                                                                        956 non-null    float64
 24  Nome Arranjo Populacional                                                                                                                          956 non-null    object
 25  Hierarquia Urbana                                                                                                                                  5570 non-null   object
 26  Hierarquia Urbana (principais categorias)                                                                                                          5570 non-null   object
 27  Codigo da Regiao Rural                                                                                                                             5570 non-null   int64
 28  Nome da Regiao Rural                                                                                                                               5570 non-null   object
 29  Regiao rural (segundo classificacao do nucleo)                                                                                                     5570 non-null   object
 30  Amazonia Legal                                                                                                                                     5570 non-null   object
 31  Semiarido                                                                                                                                          5570 non-null   object
 32  Cidade-Regiao de Sao Paulo                                                                                                                         5570 non-null   object
 33  Valor adicionado bruto da Agropecuaria,
a precos correntes
(R$ 1.000)                                                                             5570 non-null   object
 34  Valor adicionado bruto da Industria,
a precos correntes
(R$ 1.000)                                                                                 5570 non-null   object
 35  Valor adicionado bruto dos Servicos,
a precos correntes
- exceto Administracao, defesa, educacao e saude publicas e seguridade social
(R$ 1.000)  5570 non-null   object
 36  Valor adicionado bruto da Administracao, defesa, educacao e saude publicas e seguridade social,
a precos correntes
(R$ 1.000)                     5570 non-null   object
 37  Valor adicionado bruto total,
a precos correntes
(R$ 1.000)                                                                                       5570 non-null   object
 38  Impostos, liquidos de subsidios, sobre produtos,
a precos correntes
(R$ 1.000)                                                                    5570 non-null   object
 39  Produto Interno Bruto,
a precos correntes
(R$ 1.000)                                                                                              5570 non-null   object
 40  Produto Interno Bruto per capita,
a precos correntes
(R$ 1,00)                                                                                    5570 non-null   object
 41  Atividade com maior valor adicionado bruto                                                                                                         5570 non-null   object
 42  Atividade com segundo maior valor adicionado bruto                                                                                                 5570 non-null   object
 43  Atividade com terceiro maior valor adicionado bruto                                                                                                5570 non-null   object
dtypes: float64(2), int64(10), object(32)
memory usage: 1.2+ MB

In [19]:
exercicio2

,Unnamed: 0,Ano,Codigo da Grande Regiao,Nome da Grande Regiao,Codigo da Unidade da Federacao,Sigla da Unidade da Federacao,Nome da Unidade da Federacao,Codigo do Municipio,Nome do Municipio,Regiao Metropolitana,...,"Valor adicionado bruto da Industria,\na precos correntes\n(R$ 1.000)","Valor adicionado bruto dos Servicos,\na precos correntes \n- exceto Administracao, defesa, educacao e saude publicas e seguridade social\n(R$ 1.000)","Valor adicionado bruto da Administracao, defesa, educacao e saude publicas e seguridade social, \na precos correntes\n(R$ 1.000)","Valor adicionado bruto total, \na precos correntes\n(R$ 1.000)","Impostos, liquidos de subsidios, sobre produtos, \na precos correntes\n(R$ 1.000)","Produto Interno Bruto, \na precos correntes\n(R$ 1.000)","Produto Interno Bruto per capita, \na precos correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto,Atividade com segundo maior valor adicionado bruto,Atividade com terceiro maior valor adicionado bruto
0,0,2020,1,Norte,11,RO,Rondonia,1100015,Alta Floresta D'Oeste,NaN,...,20.716,150.192,160.860,535.163,35.109,570.272,"25.091,18","Administracao, defesa, educacao e saude public...","Pecuaria, inclusive apoio a pecuaria",Demais servicos
1,1,2020,1,Norte,11,RO,Rondonia,1100023,Ariquemes,NaN,...,404.752,1.207.405,710.513,2.522.393,295.656,2.818.049,"25.730,20",Demais servicos,"Administracao, defesa, educacao e saude public...",Comercio e reparacao de veiculos automotores e...
2,2,2020,1,Norte,11,RO,Rondonia,1100031,Cabixi,NaN,...,5.438,28.667,44.671,159.953,7.237,167.190,"32.226,25","Administracao, defesa, educacao e saude public...","Pecuaria, inclusive apoio a pecuaria","Agricultura, inclusive apoio a agricultura e a..."
3,3,2020,1,Norte,11,RO,Rondonia,1100049,Cacoal,NaN,...,275.537,1.157.344,575.806,2.244.902,274.451,2.519.353,"29.331,29",Demais servicos,"Administracao, defesa, educacao e saude public...",Comercio e reparacao de veiculos automotores e...
4,4,2020,1,Norte,11,RO,Rondonia,1100056,Cerejeiras,NaN,...,23.582,276.755,115.652,510.747,89.923,600.670,"37.069,25",Comercio e reparacao de veiculos automotores e...,Demais servicos,"Administracao, defesa, educacao e saude public..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,5565,2020,5,Centro-oeste,52,GO,Goias,5222005,Vianopolis,NaN,...,31.362,198.625,68.654,536.634,50.678,587.313,"42.019,96","Agricultura, inclusive apoio a agricultura e a...",Demais servicos,Comercio e reparacao de veiculos automotores e...
5566,5566,2020,5,Centro-oeste,52,GO,Goias,5222054,Vicentinopolis,NaN,...,75.909,102.478,47.977,385.182,33.375,418.557,"47.171,97","Agricultura, inclusive apoio a agricultura e a...",Demais servicos,Industrias de transformacao
5567,5567,2020,5,Centro-oeste,52,GO,Goias,5222203,Vila Boa,Regiao Integrada de Desenvolvimento do Distrit...,...,22.837,29.547,33.577,114.318,7.569,121.887,"19.310,39","Administracao, defesa, educacao e saude public...",Demais servicos,Industrias de transformacao
5568,5568,2020,5,Centro-oeste,52,GO,Goias,5222302,Vila Propicio,Regiao Integrada de Desenvolvimento do Distrit...,...,26.940,34.812,32.870,209.736,8.738,218.473,"37.142,72","Agricultura, inclusive apoio a agricultura e a...","Administracao, defesa, educacao e saude public...",Demais servicos
5569,5569,2020,5,Centro-oeste,53,DF,Distrito Federal,5300108,Brasilia,Regiao Integrada de Desenvolvimento do Distrit...,...,10.942.473,116.547.655,111.267.001,240.381.106,25.466.228,265.847.334,"87.016,16","Administracao, defesa, educacao e saude public...",Demais servicos,Comercio e reparacao de veiculos automotores e...

In [20]:
# verificar nomes das colunas
list(exercicio2.columns)

['Unnamed: 0',
 'Ano',
 'Codigo da Grande Regiao',
 'Nome da Grande Regiao',
 'Codigo da Unidade da Federacao',
 'Sigla da Unidade da Federacao',
 'Nome da Unidade da Federacao',
 'Codigo do Municipio',
 'Nome do Municipio',
 'Regiao Metropolitana',
 'Codigo da Mesorregiao',
 'Nome da Mesorregiao',
 'Codigo da Microrregiao',
 'Nome da Microrregiao',
 'Codigo da Regiao Geografica Imediata',
 'Nome da Regiao Geografica Imediata',
 'Municipio da Regiao Geografica Imediata',
 'Codigo da Regiao Geografica Intermediaria',
 'Nome da Regiao Geografica Intermediaria',
 'Municipio da Regiao Geografica Intermediaria',
 'Codigo Concentracao Urbana',
 'Nome Concentracao Urbana',
 'Tipo Concentracao Urbana',
 'Codigo Arranjo Populacional',
 'Nome Arranjo Populacional',
 'Hierarquia Urbana',
 'Hierarquia Urbana (principais categorias)',
 'Codigo da Regiao Rural',
 'Nome da Regiao Rural',
 'Regiao rural (segundo classificacao do nucleo)',
 'Amazonia Legal',
 'Semiarido',
 'Cidade-Regiao de Sao Paulo',
 'Valor adicionado bruto da Agropecuaria, \na precos correntes\n(R$ 1.000)',
 'Valor adicionado bruto da Industria,\na precos correntes\n(R$ 1.000)',
 'Valor adicionado bruto dos Servicos,\na precos correntes \n- exceto Administracao, defesa, educacao e saude publicas e seguridade social\n(R$ 1.000)',
 'Valor adicionado bruto da Administracao, defesa, educacao e saude publicas e seguridade social, \na precos correntes\n(R$ 1.000)',
 'Valor adicionado bruto total, \na precos correntes\n(R$ 1.000)',
 'Impostos, liquidos de subsidios, sobre produtos, \na precos correntes\n(R$ 1.000)',
 'Produto Interno Bruto, \na precos correntes\n(R$ 1.000)',
 'Produto Interno Bruto per capita, \na precos correntes\n(R$ 1,00)',
 'Atividade com maior valor adicionado bruto',
 'Atividade com segundo maior valor adicionado bruto',
 'Atividade com terceiro maior valor adicionado bruto']

In [21]:
#remover as colunas do Data frame
exercicio2.drop(columns=['Unnamed: 0',
 'Ano',
 'Codigo da Grande Regiao',
 'Nome da Grande Regiao',
 'Codigo da Unidade da Federacao',
 'Sigla da Unidade da Federacao',
 'Nome da Unidade da Federacao',
 'Nome do Municipio',
 'Regiao Metropolitana',
 'Codigo da Mesorregiao',
 'Nome da Mesorregiao',
 'Codigo da Microrregiao',
 'Nome da Microrregiao',
 'Codigo da Regiao Geografica Imediata',
 'Nome da Regiao Geografica Imediata',
 'Municipio da Regiao Geografica Imediata',
 'Codigo da Regiao Geografica Intermediaria',
 'Nome da Regiao Geografica Intermediaria',
 'Municipio da Regiao Geografica Intermediaria',
 'Codigo Concentracao Urbana',
 'Nome Concentracao Urbana',
 'Tipo Concentracao Urbana',
 'Codigo Arranjo Populacional',
 'Nome Arranjo Populacional',
 'Hierarquia Urbana',
 'Hierarquia Urbana (principais categorias)',
 'Codigo da Regiao Rural',
 'Nome da Regiao Rural',
 'Regiao rural (segundo classificacao do nucleo)',
 'Amazonia Legal',
 'Semiarido',
 'Cidade-Regiao de Sao Paulo',
 'Valor adicionado bruto da Industria,\na precos correntes\n(R$ 1.000)',
 'Valor adicionado bruto dos Servicos,\na precos correntes \n- exceto Administracao, defesa, educacao e saude publicas e seguridade social\n(R$ 1.000)',
 'Valor adicionado bruto da Administracao, defesa, educacao e saude publicas e seguridade social, \na precos correntes\n(R$ 1.000)',
 'Valor adicionado bruto total, \na precos correntes\n(R$ 1.000)',
 'Impostos, liquidos de subsidios, sobre produtos, \na precos correntes\n(R$ 1.000)',
 'Atividade com maior valor adicionado bruto',
 'Atividade com segundo maior valor adicionado bruto',
 'Atividade com terceiro maior valor adicionado bruto'], inplace=True)
exercicio2

,Codigo do Municipio,"Valor adicionado bruto da Agropecuaria, \na precos correntes\n(R$ 1.000)","Produto Interno Bruto, \na precos correntes\n(R$ 1.000)","Produto Interno Bruto per capita, \na precos correntes\n(R$ 1,00)"
0,1100015,203.394,570.272,"25.091,18"
1,1100023,199.723,2.818.049,"25.730,20"
2,1100031,81.177,167.190,"32.226,25"
3,1100049,236.215,2.519.353,"29.331,29"
4,1100056,94.758,600.670,"37.069,25"
...,...,...,...,...
5565,5222005,237.994,587.313,"42.019,96"
5566,5222054,158.818,418.557,"47.171,97"
5567,5222203,28.358,121.887,"19.310,39"
5568,5222302,115.114,218.473,"37.142,72"
5569,5300108,1.623.977,265.847.334,"87.016,16"

In [22]:
exercicio2.rename(columns={'Codigo do Municipio' : 'CD_MUN_IBGE',
                           'Valor adicionado bruto da Agropecuaria, \na precos correntes\n(R$ 1.000)' : 'VL_AGRP',
                           'Produto Interno Bruto, \na precos correntes\n(R$ 1.000)' : 'VL_PIB',
                           'Produto Interno Bruto per capita, \na precos correntes\n(R$ 1,00)':'VL_PIB_PCPT' }, inplace=True)
exercicio2.head()

   CD_MUN_IBGE  VL_AGRP     VL_PIB VL_PIB_PCPT
0      1100015  203.394    570.272   25.091,18
1      1100023  199.723  2.818.049   25.730,20
2      1100031   81.177    167.190   32.226,25
3      1100049  236.215  2.519.353   29.331,29
4      1100056   94.758    600.670   37.069,25

In [23]:
#apresenta informações sobre o DataFrame
exercicio2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CD_MUN_IBGE  5570 non-null   int64
 1   VL_AGRP      5570 non-null   object
 2   VL_PIB       5570 non-null   object
 3   VL_PIB_PCPT  5570 non-null   object
dtypes: int64(1), object(3)
memory usage: 108.9+ KB

In [24]:
# substituir usando: .str.replace()
exercicio2['VL_AGRP'] = exercicio2['VL_AGRP'].str.replace(".","")
exercicio2['VL_PIB'] = exercicio2['VL_PIB'].str.replace(".","")
exercicio2['VL_PIB_PCPT'] = exercicio2['VL_PIB_PCPT'].str.replace(".","")
exercicio2

      CD_MUN_IBGE  VL_AGRP     VL_PIB VL_PIB_PCPT
0         1100015   203394     570272    25091,18
1         1100023   199723    2818049    25730,20
2         1100031    81177     167190    32226,25
3         1100049   236215    2519353    29331,29
4         1100056    94758     600670    37069,25
...           ...      ...        ...         ...
5565      5222005   237994     587313    42019,96
5566      5222054   158818     418557    47171,97
5567      5222203    28358     121887    19310,39
5568      5222302   115114     218473    37142,72
5569      5300108  1623977  265847334    87016,16

[5570 rows x 4 columns]

In [25]:
# substituir usando: .str.replace()
exercicio2['VL_PIB_PCPT'] = exercicio2['VL_PIB_PCPT'].str.replace(",",".")
exercicio2

      CD_MUN_IBGE  VL_AGRP     VL_PIB VL_PIB_PCPT
0         1100015   203394     570272    25091.18
1         1100023   199723    2818049    25730.20
2         1100031    81177     167190    32226.25
3         1100049   236215    2519353    29331.29
4         1100056    94758     600670    37069.25
...           ...      ...        ...         ...
5565      5222005   237994     587313    42019.96
5566      5222054   158818     418557    47171.97
5567      5222203    28358     121887    19310.39
5568      5222302   115114     218473    37142.72
5569      5300108  1623977  265847334    87016.16

[5570 rows x 4 columns]

In [26]:
# substituir usando: .str.replace()
exercicio2['VL_AGRP'] = exercicio2['VL_AGRP'].str.replace(" -   ","0")
exercicio2

      CD_MUN_IBGE  VL_AGRP     VL_PIB VL_PIB_PCPT
0         1100015   203394     570272    25091.18
1         1100023   199723    2818049    25730.20
2         1100031    81177     167190    32226.25
3         1100049   236215    2519353    29331.29
4         1100056    94758     600670    37069.25
...           ...      ...        ...         ...
5565      5222005   237994     587313    42019.96
5566      5222054   158818     418557    47171.97
5567      5222203    28358     121887    19310.39
5568      5222302   115114     218473    37142.72
5569      5300108  1623977  265847334    87016.16

[5570 rows x 4 columns]

In [27]:
# converter usando .astype(tipo)
# primeiro para a colula "VL_AGRP"
exercicio2['VL_AGRP'] = exercicio2['VL_AGRP'].astype('float64')
exercicio2

      CD_MUN_IBGE    VL_AGRP     VL_PIB VL_PIB_PCPT
0         1100015   203394.0     570272    25091.18
1         1100023   199723.0    2818049    25730.20
2         1100031    81177.0     167190    32226.25
3         1100049   236215.0    2519353    29331.29
4         1100056    94758.0     600670    37069.25
...           ...        ...        ...         ...
5565      5222005   237994.0     587313    42019.96
5566      5222054   158818.0     418557    47171.97
5567      5222203    28358.0     121887    19310.39
5568      5222302   115114.0     218473    37142.72
5569      5300108  1623977.0  265847334    87016.16

[5570 rows x 4 columns]

In [28]:
# converter usando .astype(tipo)
# primeiro para a colula "VL_PIB"
exercicio2['VL_PIB'] = exercicio2['VL_PIB'].astype('float64')
exercicio2

      CD_MUN_IBGE    VL_AGRP       VL_PIB VL_PIB_PCPT
0         1100015   203394.0     570272.0    25091.18
1         1100023   199723.0    2818049.0    25730.20
2         1100031    81177.0     167190.0    32226.25
3         1100049   236215.0    2519353.0    29331.29
4         1100056    94758.0     600670.0    37069.25
...           ...        ...          ...         ...
5565      5222005   237994.0     587313.0    42019.96
5566      5222054   158818.0     418557.0    47171.97
5567      5222203    28358.0     121887.0    19310.39
5568      5222302   115114.0     218473.0    37142.72
5569      5300108  1623977.0  265847334.0    87016.16

[5570 rows x 4 columns]

In [29]:
# converter usando .astype(tipo)
# primeiro para a colula "VL_PIB_PCPT"
exercicio2['VL_PIB_PCPT'] = exercicio2['VL_PIB_PCPT'].astype('float64')
exercicio2

      CD_MUN_IBGE    VL_AGRP       VL_PIB  VL_PIB_PCPT
0         1100015   203394.0     570272.0     25091.18
1         1100023   199723.0    2818049.0     25730.20
2         1100031    81177.0     167190.0     32226.25
3         1100049   236215.0    2519353.0     29331.29
4         1100056    94758.0     600670.0     37069.25
...           ...        ...          ...          ...
5565      5222005   237994.0     587313.0     42019.96
5566      5222054   158818.0     418557.0     47171.97
5567      5222203    28358.0     121887.0     19310.39
5568      5222302   115114.0     218473.0     37142.72
5569      5300108  1623977.0  265847334.0     87016.16

[5570 rows x 4 columns]

In [30]:
exercicio2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   CD_MUN_IBGE  5570 non-null   int64
 1   VL_AGRP      5570 non-null   float64
 2   VL_PIB       5570 non-null   float64
 3   VL_PIB_PCPT  5570 non-null   float64
dtypes: float64(3), int64(1)
memory usage: 174.1 KB

In [31]:
#Constrói nova coluna com base em operações sobre colunas já existentes
exercicio2['IC_PRTC_ANEG_PIB']=exercicio2['VL_AGRP'] / exercicio2['VL_PIB']
exercicio2

      CD_MUN_IBGE    VL_AGRP       VL_PIB  VL_PIB_PCPT  IC_PRTC_ANEG_PIB
0         1100015   203394.0     570272.0     25091.18          0.356661
1         1100023   199723.0    2818049.0     25730.20          0.070873
2         1100031    81177.0     167190.0     32226.25          0.485537
3         1100049   236215.0    2519353.0     29331.29          0.093760
4         1100056    94758.0     600670.0     37069.25          0.157754
...           ...        ...          ...          ...               ...
5565      5222005   237994.0     587313.0     42019.96          0.405225
5566      5222054   158818.0     418557.0     47171.97          0.379442
5567      5222203    28358.0     121887.0     19310.39          0.232658
5568      5222302   115114.0     218473.0     37142.72          0.526903
5569      5300108  1623977.0  265847334.0     87016.16          0.006109

[5570 rows x 5 columns]

In [32]:
#Arrendondamento de números para 4 casas decimais
exercicio2['IC_PRTC_ANEG_PIB']=round(exercicio2['IC_PRTC_ANEG_PIB'],4)
exercicio2

      CD_MUN_IBGE    VL_AGRP       VL_PIB  VL_PIB_PCPT  IC_PRTC_ANEG_PIB
0         1100015   203394.0     570272.0     25091.18            0.3567
1         1100023   199723.0    2818049.0     25730.20            0.0709
2         1100031    81177.0     167190.0     32226.25            0.4855
3         1100049   236215.0    2519353.0     29331.29            0.0938
4         1100056    94758.0     600670.0     37069.25            0.1578
...           ...        ...          ...          ...               ...
5565      5222005   237994.0     587313.0     42019.96            0.4052
5566      5222054   158818.0     418557.0     47171.97            0.3794
5567      5222203    28358.0     121887.0     19310.39            0.2327
5568      5222302   115114.0     218473.0     37142.72            0.5269
5569      5300108  1623977.0  265847334.0     87016.16            0.0061

[5570 rows x 5 columns]

In [33]:
exercicio2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_MUN_IBGE       5570 non-null   int64
 1   VL_AGRP           5570 non-null   float64
 2   VL_PIB            5570 non-null   float64
 3   VL_PIB_PCPT       5570 non-null   float64
 4   IC_PRTC_ANEG_PIB  5570 non-null   float64
dtypes: float64(4), int64(1)
memory usage: 217.6 KB

# Exercício 3 - Atividades com maior valor adicionado bruto

Identifique os municípios que tenham as atividades do Agronegócio como atividade com maior valor adicionado bruto, conforme abaixo relacionado:

|Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|
|Indicador de Primeira Atividade|?|BOOL|Indicador booleano (true ou false) que aponta se alguma das atividades do Agronegócio foi listada como a que mais contribui para o PIB de um município (valor adicionado bruto). |Não|?|?|
|Indicador de Segunda Atividade|?|BOOL|Indicador booleano (true ou false) que aponta se alguma das atividades do Agronegócio foi listada como a segunda maior a contribuir para o PIB de um município (valor adicionado bruto). |Não|?|?|
|Indicador de Terceira Atividade|?|BOOL|Indicador booleano (true ou false) que aponta se alguma das atividades do agronegócio foi listada como a terceira maior contribuição para o PIB de um município (valor adicionado bruto). |Não|?|?|

**Regra 1:** Considere para este exercício as seguintes atividades do Agronegócio: agropecuária, agricultura, zootecnia, piscicultura, pesca, pecuária, fumageira.

**Regra 2:** Ao final do exercício, o DataFrame exercicio3 deverá conter todos os atributos listados nos Exercícios 1 e 2, bem como os listados acima.

**Dica**: o DataFrame exercicio3 deve conter apenas registros de municípios brasileiros.

In [34]:
# ler o arquivo tabela5938csv.gzip e atribuir a uma variável: pd.read_csv()
tabela5938 = pd.read_csv('bases/tabela5938csv.gzip',compression='gzip', header=0)
tabela5938.head()

,Unnamed: 0,Ano,Codigo da Grande Regiao,Nome da Grande Regiao,Codigo da Unidade da Federacao,Sigla da Unidade da Federacao,Nome da Unidade da Federacao,Codigo do Municipio,Nome do Municipio,Regiao Metropolitana,...,"Valor adicionado bruto da Industria,\na precos correntes\n(R$ 1.000)","Valor adicionado bruto dos Servicos,\na precos correntes \n- exceto Administracao, defesa, educacao e saude publicas e seguridade social\n(R$ 1.000)","Valor adicionado bruto da Administracao, defesa, educacao e saude publicas e seguridade social, \na precos correntes\n(R$ 1.000)","Valor adicionado bruto total, \na precos correntes\n(R$ 1.000)","Impostos, liquidos de subsidios, sobre produtos, \na precos correntes\n(R$ 1.000)","Produto Interno Bruto, \na precos correntes\n(R$ 1.000)","Produto Interno Bruto per capita, \na precos correntes\n(R$ 1,00)",Atividade com maior valor adicionado bruto,Atividade com segundo maior valor adicionado bruto,Atividade com terceiro maior valor adicionado bruto
0,0,2020,1,Norte,11,RO,Rondonia,1100015,Alta Floresta D'Oeste,NaN,...,20.716,150.192,160.860,535.163,35.109,570.272,"25.091,18","Administracao, defesa, educacao e saude public...","Pecuaria, inclusive apoio a pecuaria",Demais servicos
1,1,2020,1,Norte,11,RO,Rondonia,1100023,Ariquemes,NaN,...,404.752,1.207.405,710.513,2.522.393,295.656,2.818.049,"25.730,20",Demais servicos,"Administracao, defesa, educacao e saude public...",Comercio e reparacao de veiculos automotores e...
2,2,2020,1,Norte,11,RO,Rondonia,1100031,Cabixi,NaN,...,5.438,28.667,44.671,159.953,7.237,167.190,"32.226,25","Administracao, defesa, educacao e saude public...","Pecuaria, inclusive apoio a pecuaria","Agricultura, inclusive apoio a agricultura e a..."
3,3,2020,1,Norte,11,RO,Rondonia,1100049,Cacoal,NaN,...,275.537,1.157.344,575.806,2.244.902,274.451,2.519.353,"29.331,29",Demais servicos,"Administracao, defesa, educacao e saude public...",Comercio e reparacao de veiculos automotores e...
4,4,2020,1,Norte,11,RO,Rondonia,1100056,Cerejeiras,NaN,...,23.582,276.755,115.652,510.747,89.923,600.670,"37.069,25",Comercio e reparacao de veiculos automotores e...,Demais servicos,"Administracao, defesa, educacao e saude public..."

In [35]:
#'Atividade com maior valor adicionado bruto',
tabela5938.value_counts('Atividade com maior valor adicionado bruto')

Atividade com maior valor adicionado bruto
Administracao, defesa, educacao e saude publicas e seguridade social                    2620
Demais servicos                                                                         1450
Agricultura, inclusive apoio a agricultura e a pos colheita                              784
Industrias de transformacao                                                              275
Pecuaria, inclusive apoio a pecuaria                                                     182
Eletricidade e gas, agua, esgoto, atividades de gestao de residuos e descontaminacao     118
Industrias extrativas                                                                     63
Comercio e reparacao de veiculos automotores e motocicletas                               39
Producao florestal, pesca e aquicultura                                                   33
Construcao                                                                                 6
dtype: int64

In [36]:
#'Atividade com segundo maior valor adicionado bruto',
tabela5938.value_counts('Atividade com segundo maior valor adicionado bruto')

Atividade com segundo maior valor adicionado bruto
Demais servicos                                                                         2821
Administracao, defesa, educacao e saude publicas e seguridade social                    1310
Agricultura, inclusive apoio a agricultura e a pos colheita                              483
Industrias de transformacao                                                              374
Pecuaria, inclusive apoio a pecuaria                                                     284
Comercio e reparacao de veiculos automotores e motocicletas                              175
Producao florestal, pesca e aquicultura                                                   48
Eletricidade e gas, agua, esgoto, atividades de gestao de residuos e descontaminacao      35
Industrias extrativas                                                                     28
Construcao                                                                                12
dtype: int64

In [37]:
#'Atividade com terceiro maior valor adicionado bruto'
tabela5938.value_counts('Atividade com terceiro maior valor adicionado bruto')

Atividade com terceiro maior valor adicionado bruto
Administracao, defesa, educacao e saude publicas e seguridade social                    1091
Demais servicos                                                                         1064
Comercio e reparacao de veiculos automotores e motocicletas                             1049
Agricultura, inclusive apoio a agricultura e a pos colheita                              873
Pecuaria, inclusive apoio a pecuaria                                                     827
Industrias de transformacao                                                              369
Producao florestal, pesca e aquicultura                                                  139
Construcao                                                                                61
Industrias extrativas                                                                     51
Eletricidade e gas, agua, esgoto, atividades de gestao de residuos e descontaminacao      46
dtype: int64

In [38]:
# criar um dataframe chamado df (usando os PARÂMETROS da bibliote PANDAS)
indicadores = pd.DataFrame()
# visualizar o dataframe
indicadores

Empty DataFrame
Columns: []
Index: []

In [39]:
#indicadores
indicadores['IN_PRMO_ATVD'] = tabela5938['Atividade com maior valor adicionado bruto'].str.contains ('Agricultura, inclusive apoio a agricultura e a pos colheita|Pecuaria, inclusive apoio a pecuaria|Producao florestal, pesca e aquicultura')
indicadores['IN_SGDO_ATVD'] = tabela5938['Atividade com segundo maior valor adicionado bruto'].str.contains ('Agricultura, inclusive apoio a agricultura e a pos colheita|Pecuaria, inclusive apoio a pecuaria|Producao florestal, pesca e aquicultura')
indicadores['IN_TRCO_ATVD'] = tabela5938['Atividade com terceiro maior valor adicionado bruto'].str.contains ('Agricultura, inclusive apoio a agricultura e a pos colheita|Pecuaria, inclusive apoio a pecuaria|Producao florestal, pesca e aquicultura')
indicadores

      IN_PRMO_ATVD  IN_SGDO_ATVD  IN_TRCO_ATVD
0            False          True         False
1            False         False         False
2            False          True          True
3            False         False         False
4            False         False         False
...            ...           ...           ...
5565          True         False         False
5566          True         False         False
5567         False         False         False
5568          True         False         False
5569         False         False         False

[5570 rows x 3 columns]

In [40]:
len(tabela5938[tabela5938['Atividade com maior valor adicionado bruto'].str.contains ('Agricultura, inclusive apoio a agricultura e a pos colheita')])

784

In [41]:
len(tabela5938[tabela5938['Atividade com maior valor adicionado bruto'].str.contains ('Pecuaria, inclusive apoio a pecuaria')])

182

In [42]:
len(tabela5938[tabela5938['Atividade com maior valor adicionado bruto'].str.contains ('Producao florestal, pesca e aquicultura')])

33

In [43]:
784+182+33

999

In [44]:
len(tabela5938[tabela5938['Atividade com maior valor adicionado bruto'].str.contains ('Agricultura, inclusive apoio a agricultura e a pos colheita|Pecuaria, inclusive apoio a pecuaria|Producao florestal, pesca e aquicultura')])

999

In [45]:
indicadores['CD_MUN_IBGE']=tabela5938['Codigo do Municipio']
indicadores

      IN_PRMO_ATVD  IN_SGDO_ATVD  IN_TRCO_ATVD  CD_MUN_IBGE
0            False          True         False      1100015
1            False         False         False      1100023
2            False          True          True      1100031
3            False         False         False      1100049
4            False         False         False      1100056
...            ...           ...           ...          ...
5565          True         False         False      5222005
5566          True         False         False      5222054
5567         False         False         False      5222203
5568          True         False         False      5222302
5569         False         False         False      5300108

[5570 rows x 4 columns]

In [46]:
indicadores.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5570 entries, 0 to 5569
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   IN_PRMO_ATVD  5570 non-null   bool
 1   IN_SGDO_ATVD  5570 non-null   bool
 2   IN_TRCO_ATVD  5570 non-null   bool
 3   CD_MUN_IBGE   5570 non-null   int64
dtypes: bool(3), int64(1)
memory usage: 59.9 KB

In [47]:
# unir os dois dataframes: .merge
exercicio1_2=exercicio1.merge(exercicio2, how='left', on='CD_MUN_IBGE')
exercicio1_2

,CD_MUN_IBGE,NM_MUN_IBGE,SG_UF,CD_MUN_UOR,VL_AGRP,VL_PIB,VL_PIB_PCPT,IC_PRTC_ANEG_PIB
0,1100106,GUAJARA-MIRIM,RO,38150,59384.0,984586.0,21148.43,0.0603
1,1100379,ALTO ALEGRE DOS PARECIS,RO,<NA>,156818.0,324544.0,24484.67,0.4832
2,1100205,PORTO VELHO,RO,73400,797348.0,19448762.0,36059.36,0.0410
3,1100452,BURITIS,RO,17501,219630.0,781624.0,19368.23,0.2810
4,1100122,JI-PARANA,RO,49355,155961.0,4057626.0,31210.35,0.0384
...,...,...,...,...,...,...,...,...
5566,4217550,SERRA ALTA,SC,89125,30674.0,97517.0,29949.81,0.3146
5567,4218756,TUNAPOLIS,SC,95050,88820.0,172055.0,38023.18,0.5162
5568,5209457,GUARINOS,GO,<NA>,18054.0,53186.0,30619.34,0.3395
5569,5218789,RIO QUENTE,GO,77710,13304.0,267831.0,58072.57,0.0497
5570,5003157,CORONEL SAPUCAIA,MS,<NA>,83861.0,265873.0,17318.49,0.3154

In [48]:
#efetua a função de junção (merge) e aplica o nome do Dataframe de exercicio3
exercicioparcial=exercicio1_2.merge(indicadores, how='left', on='CD_MUN_IBGE')
exercicioparcial

,CD_MUN_IBGE,NM_MUN_IBGE,SG_UF,CD_MUN_UOR,VL_AGRP,VL_PIB,VL_PIB_PCPT,IC_PRTC_ANEG_PIB,IN_PRMO_ATVD,IN_SGDO_ATVD,IN_TRCO_ATVD
0,1100106,GUAJARA-MIRIM,RO,38150,59384.0,984586.0,21148.43,0.0603,False,False,False
1,1100379,ALTO ALEGRE DOS PARECIS,RO,<NA>,156818.0,324544.0,24484.67,0.4832,True,False,True
2,1100205,PORTO VELHO,RO,73400,797348.0,19448762.0,36059.36,0.0410,False,False,False
3,1100452,BURITIS,RO,17501,219630.0,781624.0,19368.23,0.2810,False,True,False
4,1100122,JI-PARANA,RO,49355,155961.0,4057626.0,31210.35,0.0384,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
5566,4217550,SERRA ALTA,SC,89125,30674.0,97517.0,29949.81,0.3146,True,False,False
5567,4218756,TUNAPOLIS,SC,95050,88820.0,172055.0,38023.18,0.5162,True,False,False
5568,5209457,GUARINOS,GO,<NA>,18054.0,53186.0,30619.34,0.3395,True,False,False
5569,5218789,RIO QUENTE,GO,77710,13304.0,267831.0,58072.57,0.0497,False,False,False
5570,5003157,CORONEL SAPUCAIA,MS,<NA>,83861.0,265873.0,17318.49,0.3154,False,True,False

In [49]:
exercicioparcial.value_counts('SG_UF')

SG_UF
MG    853
SP    645
RS    497
BA    417
PR    399
SC    295
GO    246
PI    224
PB    223
MA    217
PE    185
CE    184
RN    167
PA    144
MT    141
TO    139
AL    102
RJ     92
MS     79
ES     78
SE     75
AM     62
RO     52
AC     22
AP     16
RR     15
EX      1
DF      1
dtype: int64

In [50]:
#
exercicio3=exercicioparcial.loc[exercicioparcial['SG_UF']!='EX']
exercicio3

,CD_MUN_IBGE,NM_MUN_IBGE,SG_UF,CD_MUN_UOR,VL_AGRP,VL_PIB,VL_PIB_PCPT,IC_PRTC_ANEG_PIB,IN_PRMO_ATVD,IN_SGDO_ATVD,IN_TRCO_ATVD
0,1100106,GUAJARA-MIRIM,RO,38150,59384.0,984586.0,21148.43,0.0603,False,False,False
1,1100379,ALTO ALEGRE DOS PARECIS,RO,<NA>,156818.0,324544.0,24484.67,0.4832,True,False,True
2,1100205,PORTO VELHO,RO,73400,797348.0,19448762.0,36059.36,0.0410,False,False,False
3,1100452,BURITIS,RO,17501,219630.0,781624.0,19368.23,0.2810,False,True,False
4,1100122,JI-PARANA,RO,49355,155961.0,4057626.0,31210.35,0.0384,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...
5566,4217550,SERRA ALTA,SC,89125,30674.0,97517.0,29949.81,0.3146,True,False,False
5567,4218756,TUNAPOLIS,SC,95050,88820.0,172055.0,38023.18,0.5162,True,False,False
5568,5209457,GUARINOS,GO,<NA>,18054.0,53186.0,30619.34,0.3395,True,False,False
5569,5218789,RIO QUENTE,GO,77710,13304.0,267831.0,58072.57,0.0497,False,False,False
5570,5003157,CORONEL SAPUCAIA,MS,<NA>,83861.0,265873.0,17318.49,0.3154,False,True,False

In [51]:
exercicio3.value_counts('SG_UF')

SG_UF
MG    853
SP    645
RS    497
BA    417
PR    399
SC    295
GO    246
PI    224
PB    223
MA    217
PE    185
CE    184
RN    167
PA    144
MT    141
TO    139
AL    102
RJ     92
MS     79
ES     78
SE     75
AM     62
RO     52
AC     22
AP     16
RR     15
DF      1
dtype: int64

In [52]:
exercicio3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5570 entries, 0 to 5570
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_MUN_IBGE       5570 non-null   int64
 1   NM_MUN_IBGE       5570 non-null   object
 2   SG_UF             5570 non-null   object
 3   CD_MUN_UOR        3117 non-null   Int64
 4   VL_AGRP           5570 non-null   float64
 5   VL_PIB            5570 non-null   float64
 6   VL_PIB_PCPT       5570 non-null   float64
 7   IC_PRTC_ANEG_PIB  5570 non-null   float64
 8   IN_PRMO_ATVD      5570 non-null   object
 9   IN_SGDO_ATVD      5570 non-null   object
 10  IN_TRCO_ATVD      5570 non-null   object
dtypes: Int64(1), float64(4), int64(1), object(5)
memory usage: 418.8+ KB

In [53]:
#converter coluna para bool: "IN_PRMO_ATVD","IN_SGDO_ATVD","IN_TRCO_ATVD"
exercicio3['IN_PRMO_ATVD'] = exercicio3['IN_PRMO_ATVD'].astype("bool")
exercicio3['IN_SGDO_ATVD'] = exercicio3['IN_SGDO_ATVD'].astype("bool")
exercicio3['IN_TRCO_ATVD'] = exercicio3['IN_TRCO_ATVD'].astype("bool")
exercicio3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5570 entries, 0 to 5570
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_MUN_IBGE       5570 non-null   int64
 1   NM_MUN_IBGE       5570 non-null   object
 2   SG_UF             5570 non-null   object
 3   CD_MUN_UOR        3117 non-null   Int64
 4   VL_AGRP           5570 non-null   float64
 5   VL_PIB            5570 non-null   float64
 6   VL_PIB_PCPT       5570 non-null   float64
 7   IC_PRTC_ANEG_PIB  5570 non-null   float64
 8   IN_PRMO_ATVD      5570 non-null   bool
 9   IN_SGDO_ATVD      5570 non-null   bool
 10  IN_TRCO_ATVD      5570 non-null   bool
dtypes: Int64(1), bool(3), float64(4), int64(1), object(2)
memory usage: 369.9+ KB

# Exercício 4 - Disponibilidade de prefixos de atendimento em cada município

Calcule a disponibilidade de prefixos de atendimento (agências, escritórios e postos de atendimento) em cada município, conforme abaixo:

|Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|
|Quantidade de Prefixos de Atendimento BB|?|INT64|Quantidade de prefixos de atendimento distintos (agências, escritórios e postos de atendimento) do Banco por município|Não|?|?|

**Regra 1:** para este exercício, considere apenas as seguintes tipologias de atendimento:

- agências
- escritórios
- lojas BB
- PAAs 
- PABs 
- PAEs 
- PATs 
- plataformas de atendimento
- PSOs
- SOPs

**Regra 2:** atribua a nova coluna ao DataFrame exercicio4, que deverá conter todos os atributos listados nos Exercícios 1 a 3, bem como os listados acima.

**Regra 3:** DESCONSIDERE do cálculo qualquer UOR que atenda a alguma das situações abaixo:

1) UOR de atendimento no exterior;
2) UOR de Comércio Exterior (Comex);
3) Plataformas em Unidades Estratégicas (UEs), Unidades de Apoio (UAs), Cenop e Cesup;
4) Escritórios MERCAP.

**Dica 1:** para este exercício, deverão ser considerados todas as UORs de atendimento das tipologias mencionadas na regra 1, com exceção apenas dos casos previstos na regra 3, indepentendemente da aderência às campanhas mencionadas.

**Dica 2** para o cálculo da quantidade, considere apenas os prefixos distintos em cada município.

In [54]:
# ler o arquivo item_aqtt_uor.csv e atribuir a uma variável: pd.read_csv()
item_aqtt_uor = pd.read_csv('bases/item_aqtt_uor.csv', header=0, sep=';')
item_aqtt_uor

     CD_ITEM_AQTT_UOR                        NM_ITEM_AQTT_UOR
0                   2    DIRETORIA
1                   3    UNIDADE
2                   4    GERENCIA EXECUTIVA
3                   5    GERENCIA
4                   6    SEGMENTO EM UE
..                ...                                     ...
202              1884    PLATAFORMA EM UE
203              1885    GENAP
204              1889    COMITE ELBB
205              1890                                  OUTRAS
206              1891                                  OUTRAS

[207 rows x 2 columns]

In [55]:
# primeiro vamos visualizar valores únicos de tipo de dependência
item_aqtt_uor.NM_ITEM_AQTT_UOR.sort_values().unique()

array(['  A CLASSIFICAR                       ',
       '  A CLASSIFICAR - SB                  ',
       '  AGENCIA AGRO                        ',
       '  AGENCIA CORPORATE                   ',
       '  AGENCIA EMPRESA                     ',
       '  AGENCIA EMPRESARIAL                 ',
       '  AGENCIA ESTILO                      ',
       '  AGENCIA GOVERNO                     ',
       '  AGENCIA LARGE CORPORATE             ',
       '  AGENCIA NO EXTERIOR                 ',
       '  AGENCIA PODER JUDICIARIO            ',
       '  AGENCIA SETOR PUBLICO               ',
       '  AGENCIA VAREJO                      ',
       '  AJURE                               ',
       '  AREA EM UA                          ',
       '  AREA EM UA EX                       ',
       '  AREA EM UN                          ',
       '  ASSEMBLEIA GERAL ACIONISTAS         ',
       '  AUTO-ATENDIMENTO BB                 ',
       '  CAD BB                              ',
       '  CCBB                                ',
       '  CECAR                               ',
       '  CEMED                               ',
       '  CENOP                               ',
       '  CESEC                               ',
       '  CESIN                               ',
       '  CESUP                               ',
       '  COM ASSESSORAMENTO CA               ',
       '  COMEX                               ',
       '  COMISSAO ESTRATEGICA                ',
       '  COMITE DE REDE                      ',
       '  COMITE ELBB                         ',
       '  COMITE ESTRATEGICO                  ',
       '  COMITE EXECUTIVO ESTRATEGICO        ',
       '  CONSELHO ADMINISTRACAO              ',
       '  CONSELHO FISCAL                     ',
       '  COORDENADORIA EM UA                 ',
       '  COORDENADORIA EM UE                 ',
       '  CORRESPONDENTES                     ',
       '  CRBB                                ',
       '  CSA                                 ',
       '  CSL                                 ',
       '  CSO                                 ',
       '  DIRETORIA                           ',
       '  EQUIPE                              ',
       '  ESCRITORIO ATEND ATACADO            ',
       '  ESCRITORIO COMERCIAL                ',
       '  ESCRITORIO COMEX                    ',
       '  ESCRITORIO MERCAP                   ',
       '  ESCRITORIO NEGOCIOS                 ',
       '  ESCRITORIO NO EXTERIOR              ',
       '  ESCRITORIO PRIVATE                  ',
       '  GCASH                               ',
       '  GECOI                               ',
       '  GECOR                               ',
       '  GEINV                               ',
       '  GENAC                               ',
       '  GENAP                               ',
       '  GEPES                               ',
       '  GERAC                               ',
       '  GERAG                               ',
       '  GEREC                               ',
       '  GERENCIA                            ',
       '  GERENCIA DE AUDITORIA               ',
       '  GERENCIA DE CABB                    ',
       '  GERENCIA EXECUTIVA                  ',
       '  GERENCIA REGIONAL EMPRESARIAL       ',
       '  GESIN                               ',
       '  GIMOB                               ',
       '  GPRED                               ',
       '  GRUPO EM UA                         ',
       '  GRUPO EM UN                         ',
       '  LABB                                ',
       '  LOJA BB                             ',
       '  MODULO A CLASSIFICAR                ',
       '  MODULO ADMINISTRATIVO NO EXTERIOR   ',
       '  MODULO APOIO ADMINISTRATIVO         ',
       '  MODULO ATENDIMENTO                  ',
       '  MODULO COMPLEMENTO NEGOCIAL         ',
       '  MODULO CONTROLE NO EXTERIOR         ',
       '  MODULO DRS EM UT                    ',
       '  MODULO EM UA                        ',
       '  MODULO EM UA EX                     ',
       '  MODULO EM UN                        ',
       '  MODULO GOVERNO                      ',
       '  MODULO NEGOCIAL NO EXTERIOR         ',
       '  MODULO NEGOCIOS ESPECIALIZADOS      ',
       '  MODULO PESSOA FISICA                ',
       '  MODULO PESSOA JURIDICA              ',
       '  MODULO PRE-ATENDIMENTO              ',
       '  MODULO RELACIONAMENTO DIGITAL PF    ',
       '  MODULO RELACIONAMENTO DIGITAL PJ    ',
       '  MODULO SERVICOS                     ',
       '  MODULO SUPORTE E APOIO AOS NEGOCIOS ',
       '  NUCLEO EM UA                        ',
       '  NUCLEO EM UE                        ',
       '  NUCLEO EM UT                        ',
       '  NUJUR                               ',
       '  OUVIDORIA                           ',
       '  PAA                                 ',
       '  PAB                                 ',
       '  PAE                                 ',
       '  PAP                                 ',
       '  PAT                                 ',
       '  PLATAFORMA AGRO                     ',
       '  PLATAFORMA ALTA RENDA               ',
       '  PLATAFORMA CESUP CENOP              ',
       '  PLATAFORMA CORPORATE                ',
       '  PLATAFORMA EM UA                    ',
       '  PLATAFORMA EM UE                    ',
       '  PLATAFORMA EMPRESA                  ',
       '  PLATAFORMA EMPRESARIAL              ',
       '  PLATAFORMA ESCRITORIO DE NEGOCIOS   ',
       '  PLATAFORMA GOVERNO                  ',
       '  PLATAFORMA LARGE CORPORATE          ',
       '  PLATAFORMA NEGOCIOS ESPECIALIZADOS  ',
       '  PLATAFORMA PRIVATE                  ',
       '  POSTO ATENDIMENTO EXTERIOR          ',
       '  PRESI                               ',
       '  PROGRAMA ESTRATEGICO                ',
       '  PROJETO ESTRATEGICO                 ',
       '  PSO                                 ',
       '  PSV                                 ',
       '  SAC                                 ',
       '  SALA CONVENIENCIA NO EXTERIOR       ',
       '  SEGMENTO ADMINISTRATIVO EM UN       ',
       '  SEGMENTO ADMINISTRATIVO EM UT       ',
       '  SEGMENTO ADMINISTRATIVO NO EXTERIOR ',
       '  SEGMENTO CONTROLE NO EXTERIOR       ',
       '  SEGMENTO EM UA                      ',
       '  SEGMENTO EM UE                      ',
       '  SEGMENTO MERCADO EM UT              ',
       '  SEGMENTO NEGOCIAL EM UN             ',
       '  SEGMENTO NEGOCIAL NO EXTERIOR       ',
       '  SEGMENTO NEGOCIOS ESPECIALIZADOS    ',
       '  SEGMENTO RELACIONAMENTO EM UN       ',
       '  SEGMENTO SERVICOS EM UN             ',
       '  SEGMENTO VAREJO EM UT               ',
       '  SERVICING CENTER                    ',
       '  SETOR EM UA                         ',
       '  SETOR EM UN                         ',
       '  SOP                                 ',
       '  SUBAGENCIA NO EXTERIOR              ',
       '  SUPER ADM                           ',
       '  SUPER ATACADO                       ',
       '  SUPER COMERCIAL                     ',
       '  SUPER NEGOCIOS                      ',
       '  SUPER PRIVATE                       ',
       '  SUPERVISAO                          ',
       '  TELEMATICA                          ',
       '  TIPOLOGIA EXTINTA                   ',
       '  UNIDADE                             ',
       '  UOR TESTE TI                        ',
       '  UOR TESTE TI - SB                   ',
       '  UOR VIRTUAL                         ',
       '  VICE-PRESIDENCIA                    ', 'OUTRAS'], dtype=object)

In [56]:
# ler o arquivo uor.zip e atribuir a uma variável: pd.read_csv()
uor = pd.read_csv('bases/uor.zip', compression='zip', header=0)
uor.head()

,CD_UOR,CD_DEPE_UOR,NM_UOR_RDZ,SBDD,CD_MUN_UOR,CD_ITEM_AQTT_UOR
0,182be0c5cdcd5072bb1864cdee4d3d6e,c4ca4238a0b923820dcc509a6f75849b,f47fe7fe610eb702b074a9c3f33aa07c,0,77425,54
1,642e92efb79421734881b53e1e1b18b6,c4ca4238a0b923820dcc509a6f75849b,0c4993bdf6abf21abc7d098ccb81e2f5,91,77425,63
2,9a1158154dfa42caddbd0694a4e9bdc8,c81e728d9d4c2f636f067f89cc14862c,3c4de529cb162f35280f1179770c8b71,0,55100,54
3,68d30a9594728bc39aa24be94b319d21,c81e728d9d4c2f636f067f89cc14862c,e426d608029f0c3bc75e89707bd16c4b,91,55100,63
4,2a38a4a9316c49e5a833517c45d31070,eccbc87e4b5ce2fe28308fd9f2a7baf3,e8ec8e5c4562db903920e361d544c91e,0,13600,54

In [57]:
uor.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19989 entries, 0 to 19988
Data columns (total 6 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_UOR            19989 non-null  object
 1   CD_DEPE_UOR       19989 non-null  object
 2   NM_UOR_RDZ        19989 non-null  object
 3   SBDD              19989 non-null  int64
 4   CD_MUN_UOR        19989 non-null  int64
 5   CD_ITEM_AQTT_UOR  19989 non-null  int64
dtypes: int64(3), object(3)
memory usage: 702.8+ KB

In [58]:
#remover as colunas
uor.drop(columns=['NM_UOR_RDZ', 'SBDD'], inplace=True)
uor

,CD_UOR,CD_DEPE_UOR,CD_MUN_UOR,CD_ITEM_AQTT_UOR
0,182be0c5cdcd5072bb1864cdee4d3d6e,c4ca4238a0b923820dcc509a6f75849b,77425,54
1,642e92efb79421734881b53e1e1b18b6,c4ca4238a0b923820dcc509a6f75849b,77425,63
2,9a1158154dfa42caddbd0694a4e9bdc8,c81e728d9d4c2f636f067f89cc14862c,55100,54
3,68d30a9594728bc39aa24be94b319d21,c81e728d9d4c2f636f067f89cc14862c,55100,63
4,2a38a4a9316c49e5a833517c45d31070,eccbc87e4b5ce2fe28308fd9f2a7baf3,13600,54
...,...,...,...,...
19984,bd36304e333f6bae7cf4d51bd47fb58e,36ae77db7915835abc105f631f0391f8,79300,33
19985,a4eb5298253106becc9ae5df3bc95487,36ae77db7915835abc105f631f0391f8,72900,33
19986,162cb1a3c60f5155d3dfc4c3ee939e54,36ae77db7915835abc105f631f0391f8,75600,33
19987,3b7459117e0a0729edb208699955a179,36ae77db7915835abc105f631f0391f8,86900,33
19988,119c900d76102b0522d7fa549f2825c0,36ae77db7915835abc105f631f0391f8,2000,5

In [59]:
#efetua a função de junção (merge)
uor_item_aqtt_uor = uor.merge(item_aqtt_uor, how='left', on='CD_ITEM_AQTT_UOR')
uor_item_aqtt_uor

,CD_UOR,CD_DEPE_UOR,CD_MUN_UOR,CD_ITEM_AQTT_UOR,NM_ITEM_AQTT_UOR
0,182be0c5cdcd5072bb1864cdee4d3d6e,c4ca4238a0b923820dcc509a6f75849b,77425,54,AGENCIA VAREJO
1,642e92efb79421734881b53e1e1b18b6,c4ca4238a0b923820dcc509a6f75849b,77425,63,PAE
2,9a1158154dfa42caddbd0694a4e9bdc8,c81e728d9d4c2f636f067f89cc14862c,55100,54,AGENCIA VAREJO
3,68d30a9594728bc39aa24be94b319d21,c81e728d9d4c2f636f067f89cc14862c,55100,63,PAE
4,2a38a4a9316c49e5a833517c45d31070,eccbc87e4b5ce2fe28308fd9f2a7baf3,13600,54,AGENCIA VAREJO
...,...,...,...,...,...
19984,bd36304e333f6bae7cf4d51bd47fb58e,36ae77db7915835abc105f631f0391f8,79300,33,EQUIPE
19985,a4eb5298253106becc9ae5df3bc95487,36ae77db7915835abc105f631f0391f8,72900,33,EQUIPE
19986,162cb1a3c60f5155d3dfc4c3ee939e54,36ae77db7915835abc105f631f0391f8,75600,33,EQUIPE
19987,3b7459117e0a0729edb208699955a179,36ae77db7915835abc105f631f0391f8,86900,33,EQUIPE
19988,119c900d76102b0522d7fa549f2825c0,36ae77db7915835abc105f631f0391f8,2000,5,GERENCIA

In [60]:
#dados a consultar
atendimento = ['AGENCIA','ESCRITORIO','LOJA BB','PAA','PAB','PAE','PAT','PLATAFORMA','PSO','SOP']
exceto = ['EXTERIOR','COMEX','MERCAP','CESUP','CENOP','UE','UA']

In [61]:
regra3 = uor_item_aqtt_uor[(uor_item_aqtt_uor['NM_ITEM_AQTT_UOR'].str.contains('|'.join(atendimento), case=False)) &
                           (~uor_item_aqtt_uor['NM_ITEM_AQTT_UOR'].str.contains('|'.join(exceto), case=False))
                          ]
regra3

,CD_UOR,CD_DEPE_UOR,CD_MUN_UOR,CD_ITEM_AQTT_UOR,NM_ITEM_AQTT_UOR
0,182be0c5cdcd5072bb1864cdee4d3d6e,c4ca4238a0b923820dcc509a6f75849b,77425,54,AGENCIA VAREJO
1,642e92efb79421734881b53e1e1b18b6,c4ca4238a0b923820dcc509a6f75849b,77425,63,PAE
2,9a1158154dfa42caddbd0694a4e9bdc8,c81e728d9d4c2f636f067f89cc14862c,55100,54,AGENCIA VAREJO
3,68d30a9594728bc39aa24be94b319d21,c81e728d9d4c2f636f067f89cc14862c,55100,63,PAE
4,2a38a4a9316c49e5a833517c45d31070,eccbc87e4b5ce2fe28308fd9f2a7baf3,13600,54,AGENCIA VAREJO
...,...,...,...,...,...
19954,f34fcef2491931f0c99b08e31eca2a55,228e338fddcdf62a8065110d0b5f87fb,6030,63,PAE
19962,8b769095292a07e9ecab60b4fb5421b1,fb87582825f9d28a8d42c5e5e5e8b23d,59596,63,PAE
19963,2f2da3daa96c578ba5d79779beea7718,1dba5eed8838571e1c80af145184e515,2000,60,PAT
19964,29ce8f534a20fe965b024e9a146ddf9c,8df707a948fac1b4a0f97aa554886ec8,87370,60,PAT
19965,08ed0ab60e8f7120f94fcb5682968ec7,33beffd09a1b020d1187c6b4b264014a,74630,60,PAT

In [62]:
regra3.NM_ITEM_AQTT_UOR.sort_values().unique()

array(['  AGENCIA CORPORATE                   ',
       '  AGENCIA EMPRESA                     ',
       '  AGENCIA EMPRESARIAL                 ',
       '  AGENCIA ESTILO                      ',
       '  AGENCIA GOVERNO                     ',
       '  AGENCIA LARGE CORPORATE             ',
       '  AGENCIA PODER JUDICIARIO            ',
       '  AGENCIA SETOR PUBLICO               ',
       '  AGENCIA VAREJO                      ',
       '  ESCRITORIO ATEND ATACADO            ',
       '  ESCRITORIO NEGOCIOS                 ',
       '  ESCRITORIO PRIVATE                  ',
       '  LOJA BB                             ',
       '  PAA                                 ',
       '  PAB                                 ',
       '  PAE                                 ',
       '  PAT                                 ',
       '  PLATAFORMA AGRO                     ',
       '  PLATAFORMA ALTA RENDA               ',
       '  PLATAFORMA CORPORATE                ',
       '  PLATAFORMA EMPRESA                  ',
       '  PLATAFORMA EMPRESARIAL              ',
       '  PLATAFORMA ESCRITORIO DE NEGOCIOS   ',
       '  PLATAFORMA GOVERNO                  ',
       '  PLATAFORMA LARGE CORPORATE          ',
       '  PLATAFORMA NEGOCIOS ESPECIALIZADOS  ',
       '  PLATAFORMA PRIVATE                  ',
       '  PSO                                 ',
       '  SOP                                 '], dtype=object)

In [63]:
exercicio4_1 = regra3.groupby('CD_MUN_UOR').CD_DEPE_UOR.nunique().reset_index()
exercicio4_1

      CD_MUN_UOR  CD_DEPE_UOR
0           2000          102
1           3060            1
2           3080            1
3           3150            1
4           3170            1
...          ...          ...
3114       99677            1
3115       99680            1
3116       99856            1
3117       99920            2
3118       99999            1

[3119 rows x 2 columns]

In [64]:
exercicio4_1.rename(columns={'CD_DEPE_UOR':'QT_PRF_ATDT_BB'}, inplace=True)
exercicio4_1

      CD_MUN_UOR  QT_PRF_ATDT_BB
0           2000             102
1           3060               1
2           3080               1
3           3150               1
4           3170               1
...          ...             ...
3114       99677               1
3115       99680               1
3116       99856               1
3117       99920               2
3118       99999               1

[3119 rows x 2 columns]

In [65]:
exercicio4_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3119 entries, 0 to 3118
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CD_MUN_UOR      3119 non-null   int64
 1   QT_PRF_ATDT_BB  3119 non-null   int64
dtypes: int64(2)
memory usage: 48.8 KB

In [66]:
exercicio3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5570 entries, 0 to 5570
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_MUN_IBGE       5570 non-null   int64
 1   NM_MUN_IBGE       5570 non-null   object
 2   SG_UF             5570 non-null   object
 3   CD_MUN_UOR        3117 non-null   Int64
 4   VL_AGRP           5570 non-null   float64
 5   VL_PIB            5570 non-null   float64
 6   VL_PIB_PCPT       5570 non-null   float64
 7   IC_PRTC_ANEG_PIB  5570 non-null   float64
 8   IN_PRMO_ATVD      5570 non-null   bool
 9   IN_SGDO_ATVD      5570 non-null   bool
 10  IN_TRCO_ATVD      5570 non-null   bool
dtypes: Int64(1), bool(3), float64(4), int64(1), object(2)
memory usage: 369.9+ KB

In [67]:
#converter coluna para int64: "CD_MUN_UOR"
exercicio4_1['CD_MUN_UOR'] = exercicio4_1['CD_MUN_UOR'].astype("Int64")
exercicio4_1['QT_PRF_ATDT_BB'] = exercicio4_1['QT_PRF_ATDT_BB'].astype("Int64")
exercicio4_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3119 entries, 0 to 3118
Data columns (total 2 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CD_MUN_UOR      3119 non-null   Int64
 1   QT_PRF_ATDT_BB  3119 non-null   Int64
dtypes: Int64(2)
memory usage: 54.9 KB

In [68]:
exercicio4_2 = exercicio3.merge(exercicio4_1, how='left', on='CD_MUN_UOR')
exercicio4_2

,CD_MUN_IBGE,NM_MUN_IBGE,SG_UF,CD_MUN_UOR,VL_AGRP,VL_PIB,VL_PIB_PCPT,IC_PRTC_ANEG_PIB,IN_PRMO_ATVD,IN_SGDO_ATVD,IN_TRCO_ATVD,QT_PRF_ATDT_BB
0,1100106,GUAJARA-MIRIM,RO,38150,59384.0,984586.0,21148.43,0.0603,False,False,False,1
1,1100379,ALTO ALEGRE DOS PARECIS,RO,<NA>,156818.0,324544.0,24484.67,0.4832,True,False,True,<NA>
2,1100205,PORTO VELHO,RO,73400,797348.0,19448762.0,36059.36,0.0410,False,False,False,14
3,1100452,BURITIS,RO,17501,219630.0,781624.0,19368.23,0.2810,False,True,False,1
4,1100122,JI-PARANA,RO,49355,155961.0,4057626.0,31210.35,0.0384,False,False,False,4
...,...,...,...,...,...,...,...,...,...,...,...,...
5565,4217550,SERRA ALTA,SC,89125,30674.0,97517.0,29949.81,0.3146,True,False,False,1
5566,4218756,TUNAPOLIS,SC,95050,88820.0,172055.0,38023.18,0.5162,True,False,False,1
5567,5209457,GUARINOS,GO,<NA>,18054.0,53186.0,30619.34,0.3395,True,False,False,<NA>
5568,5218789,RIO QUENTE,GO,77710,13304.0,267831.0,58072.57,0.0497,False,False,False,1
5569,5003157,CORONEL SAPUCAIA,MS,<NA>,83861.0,265873.0,17318.49,0.3154,False,True,False,<NA>

In [69]:
#fillna(0)
exercicio4_2['QT_PRF_ATDT_BB']= exercicio4_2.QT_PRF_ATDT_BB.fillna(0)
exercicio4_2

,CD_MUN_IBGE,NM_MUN_IBGE,SG_UF,CD_MUN_UOR,VL_AGRP,VL_PIB,VL_PIB_PCPT,IC_PRTC_ANEG_PIB,IN_PRMO_ATVD,IN_SGDO_ATVD,IN_TRCO_ATVD,QT_PRF_ATDT_BB
0,1100106,GUAJARA-MIRIM,RO,38150,59384.0,984586.0,21148.43,0.0603,False,False,False,1
1,1100379,ALTO ALEGRE DOS PARECIS,RO,<NA>,156818.0,324544.0,24484.67,0.4832,True,False,True,0
2,1100205,PORTO VELHO,RO,73400,797348.0,19448762.0,36059.36,0.0410,False,False,False,14
3,1100452,BURITIS,RO,17501,219630.0,781624.0,19368.23,0.2810,False,True,False,1
4,1100122,JI-PARANA,RO,49355,155961.0,4057626.0,31210.35,0.0384,False,False,False,4
...,...,...,...,...,...,...,...,...,...,...,...,...
5565,4217550,SERRA ALTA,SC,89125,30674.0,97517.0,29949.81,0.3146,True,False,False,1
5566,4218756,TUNAPOLIS,SC,95050,88820.0,172055.0,38023.18,0.5162,True,False,False,1
5567,5209457,GUARINOS,GO,<NA>,18054.0,53186.0,30619.34,0.3395,True,False,False,0
5568,5218789,RIO QUENTE,GO,77710,13304.0,267831.0,58072.57,0.0497,False,False,False,1
5569,5003157,CORONEL SAPUCAIA,MS,<NA>,83861.0,265873.0,17318.49,0.3154,False,True,False,0

In [70]:
exercicio4 = exercicio4_2
exercicio4

,CD_MUN_IBGE,NM_MUN_IBGE,SG_UF,CD_MUN_UOR,VL_AGRP,VL_PIB,VL_PIB_PCPT,IC_PRTC_ANEG_PIB,IN_PRMO_ATVD,IN_SGDO_ATVD,IN_TRCO_ATVD,QT_PRF_ATDT_BB
0,1100106,GUAJARA-MIRIM,RO,38150,59384.0,984586.0,21148.43,0.0603,False,False,False,1
1,1100379,ALTO ALEGRE DOS PARECIS,RO,<NA>,156818.0,324544.0,24484.67,0.4832,True,False,True,0
2,1100205,PORTO VELHO,RO,73400,797348.0,19448762.0,36059.36,0.0410,False,False,False,14
3,1100452,BURITIS,RO,17501,219630.0,781624.0,19368.23,0.2810,False,True,False,1
4,1100122,JI-PARANA,RO,49355,155961.0,4057626.0,31210.35,0.0384,False,False,False,4
...,...,...,...,...,...,...,...,...,...,...,...,...
5565,4217550,SERRA ALTA,SC,89125,30674.0,97517.0,29949.81,0.3146,True,False,False,1
5566,4218756,TUNAPOLIS,SC,95050,88820.0,172055.0,38023.18,0.5162,True,False,False,1
5567,5209457,GUARINOS,GO,<NA>,18054.0,53186.0,30619.34,0.3395,True,False,False,0
5568,5218789,RIO QUENTE,GO,77710,13304.0,267831.0,58072.57,0.0497,False,False,False,1
5569,5003157,CORONEL SAPUCAIA,MS,<NA>,83861.0,265873.0,17318.49,0.3154,False,True,False,0

In [71]:
exercicio4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5570 entries, 0 to 5569
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_MUN_IBGE       5570 non-null   int64
 1   NM_MUN_IBGE       5570 non-null   object
 2   SG_UF             5570 non-null   object
 3   CD_MUN_UOR        3117 non-null   Int64
 4   VL_AGRP           5570 non-null   float64
 5   VL_PIB            5570 non-null   float64
 6   VL_PIB_PCPT       5570 non-null   float64
 7   IC_PRTC_ANEG_PIB  5570 non-null   float64
 8   IN_PRMO_ATVD      5570 non-null   bool
 9   IN_SGDO_ATVD      5570 non-null   bool
 10  IN_TRCO_ATVD      5570 non-null   bool
 11  QT_PRF_ATDT_BB    5570 non-null   Int64
dtypes: Int64(2), bool(3), float64(4), int64(1), object(2)
memory usage: 418.8+ KB

# Exercício 5 – Quantificar o Público das campanhas e população total

Considerando apenas a faixa etária do público de cada uma das campanhas alvo deste Desafio, calcule os seguintes atributos:

|Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|
|Quantidade Público Conta Corrente Jovem|?|INT64|Número correspondente à quantidade de pessoas entre 10 e 17 anos completos em determinada região.|Sim|?|?|
|Quantidade Público Feminino Consórcio|?|INT64|Número correspondente à quantidade de pessoas do sexo feminino entre 18 e 70 anos não completos em determinada região.|Sim|?|?|
|Quantidade Público BrasilPrev Jr.|?|INT64|Número correspondente à quantidade de pessoas entre 0 e 20 anos incompletos em determinada região.|Sim|?|?|
|Quantidade População Total|?|INT64|Número correspondente à quantidade total de pessoas em determinada região.|Sim|?|?|

Ao final do exercício, o DataFrame exercicio5 deverá conter todos os atributos listados nos Exercícios 1 a 4, bem como os listados acima.

**Esclarecimento:** o nome lógico do atributo correspondente à quantidade do público da campanha BB Cash foi ajustado para "Conta Corrente Jovem" de modo a possibilitar adequação à nomenclatura do Banco.

In [72]:
# ler o arquivo tabela1378CSV e atribuir a uma variável: pd.read_csv()
tabela1378_1 = pd.read_csv('bases/tabela1378csv_parte1.gz', header=0, sep=';')
tabela1378_2 = pd.read_csv('bases/tabela1378csv_parte2.gz', header=0, sep=';')
tabela1378_1.head()

,Cod.,Idade,Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio,Homens,Mulheres
0,3150901,0 a 4 anos,Total,155,168
1,3150901,5 a 9 anos,Total,193,162
2,3150901,10 a 14 anos,Total,227,224
3,3150901,15 a 17 anos,Total,138,147
4,3150901,18 ou 19 anos,Total,81,78

In [73]:
tabela1378_2.head()

,Cod.,Idade,Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio,Homens,Mulheres
0,1100015,0 a 4 anos,Total,956,952
1,1100015,5 a 9 anos,Total,1073,1034
2,1100015,10 a 14 anos,Total,1256,1145
3,1100015,15 a 17 anos,Total,830,747
4,1100015,18 ou 19 anos,Total,532,479

In [74]:
tabela1378_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 40905 entries, 0 to 40904
Data columns (total 5 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Cod.                                                                           40905 non-null  int64
 1   Idade                                                                          40905 non-null  object
 2   Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio  40905 non-null  object
 3   Homens                                                                         40905 non-null  int64
 4   Mulheres                                                                       40905 non-null  int64
dtypes: int64(3), object(2)
memory usage: 1.2+ MB

In [75]:
tabela1378_2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 42570 entries, 0 to 42569
Data columns (total 5 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Cod.                                                                           42570 non-null  int64
 1   Idade                                                                          42570 non-null  object
 2   Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio  42570 non-null  object
 3   Homens                                                                         42570 non-null  int64
 4   Mulheres                                                                       42570 non-null  int64
dtypes: int64(3), object(2)
memory usage: 1.3+ MB

In [76]:
#Combine dois objetos com colunas idênticas.DataFrame
tabela1378 = pd.concat([tabela1378_1,tabela1378_2])
tabela1378

,Cod.,Idade,Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio,Homens,Mulheres
0,3150901,0 a 4 anos,Total,155,168
1,3150901,5 a 9 anos,Total,193,162
2,3150901,10 a 14 anos,Total,227,224
3,3150901,15 a 17 anos,Total,138,147
4,3150901,18 ou 19 anos,Total,81,78
...,...,...,...,...,...
42565,3150802,45 a 49 anos,Total,517,465
42566,3150802,50 a 54 anos,Total,458,411
42567,3150802,55 a 59 anos,Total,330,410
42568,3150802,60 a 69 anos,Total,554,607
42569,3150802,70 anos ou mais,Total,480,686

In [77]:
tabela1378.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 83475 entries, 0 to 42569
Data columns (total 5 columns):
 #   Column                                                                         Non-Null Count  Dtype
---  ------                                                                         --------------  -----
 0   Cod.                                                                           83475 non-null  int64
 1   Idade                                                                          83475 non-null  object
 2   Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio  83475 non-null  object
 3   Homens                                                                         83475 non-null  int64
 4   Mulheres                                                                       83475 non-null  int64
dtypes: int64(3), object(2)
memory usage: 3.2+ MB

In [78]:
tabela1378.Idade.unique()

array(['0 a 4 anos', '5 a 9 anos', '10 a 14 anos', '15 a 17 anos',
       '18 ou 19 anos', '20 a 24 anos', '25 a 29 anos', '30 a 34 anos',
       '35 a 39 anos', '40 a 44 anos', '45 a 49 anos', '50 a 54 anos',
       '55 a 59 anos', '60 a 69 anos', '70 anos ou mais'], dtype=object)

In [79]:
#Número correspondente à quantidade de pessoas entre 10 e 17 anos completos em determinada região.
#'10 a 14 anos', '15 a 17 anos'
df1 = tabela1378[tabela1378['Idade'].str.contains('10 a 14 anos|15 a 17 anos')].reset_index()
df1.drop(columns=['index'], inplace=True)
df1

,Cod.,Idade,Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio,Homens,Mulheres
0,3150901,10 a 14 anos,Total,227,224
1,3150901,15 a 17 anos,Total,138,147
2,3151008,10 a 14 anos,Total,394,342
3,3151008,15 a 17 anos,Total,222,225
4,3151107,10 a 14 anos,Total,429,448
...,...,...,...,...,...
11125,3150604,15 a 17 anos,Total,197,167
11126,3150703,10 a 14 anos,Total,206,173
11127,3150703,15 a 17 anos,Total,112,121
11128,3150802,10 a 14 anos,Total,846,905
11129,3150802,15 a 17 anos,Total,566,532

In [80]:
#Total de pessoas entre 10 e 17 anos completos em determinada região.
df1['QT_PBCO_CC_JOV'] = df1['Homens'] + df1['Mulheres']
df1.rename(columns={'Cod.' : 'CD_MUN_IBGE'}, inplace=True)
df1

,CD_MUN_IBGE,Idade,Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio,Homens,Mulheres,QT_PBCO_CC_JOV
0,3150901,10 a 14 anos,Total,227,224,451
1,3150901,15 a 17 anos,Total,138,147,285
2,3151008,10 a 14 anos,Total,394,342,736
3,3151008,15 a 17 anos,Total,222,225,447
4,3151107,10 a 14 anos,Total,429,448,877
...,...,...,...,...,...,...
11125,3150604,15 a 17 anos,Total,197,167,364
11126,3150703,10 a 14 anos,Total,206,173,379
11127,3150703,15 a 17 anos,Total,112,121,233
11128,3150802,10 a 14 anos,Total,846,905,1751
11129,3150802,15 a 17 anos,Total,566,532,1098

In [81]:
df1_1 = df1

In [82]:
df1_1.drop(columns=['Idade','Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio', 'Homens', 'Mulheres'], inplace=True)
df1_1

       CD_MUN_IBGE  QT_PBCO_CC_JOV
0          3150901             451
1          3150901             285
2          3151008             736
3          3151008             447
4          3151107             877
...            ...             ...
11125      3150604             364
11126      3150703             379
11127      3150703             233
11128      3150802            1751
11129      3150802            1098

[11130 rows x 2 columns]

In [83]:
df1_2 = df1_1.groupby('CD_MUN_IBGE').QT_PBCO_CC_JOV.sum().reset_index()
df1_2

      CD_MUN_IBGE  QT_PBCO_CC_JOV
0         1100015            3978
1         1100023           14753
2         1100031             982
3         1100049           12208
4         1100056            2717
...           ...             ...
5560      5222005            1805
5561      5222054            1002
5562      5222203             732
5563      5222302             810
5564      5300108          350311

[5565 rows x 2 columns]

In [84]:
#Número correspondente à quantidade de pessoas entre 18 e 70 anos não completos em determinada região.
#'18 ou 19 anos|20 a 24 anos|25 a 29 anos|30 a 34 anos|35 a 39 anos|40 a 44 anos|45 a 49 anos|50 a 54 anos|55 a 59 anos|60 a 69 anos'
df2 = tabela1378[tabela1378['Idade'].str.contains('18 ou 19 anos|20 a 24 anos|25 a 29 anos|30 a 34 anos|35 a 39 anos|40 a 44 anos|45 a 49 anos|50 a 54 anos|55 a 59 anos|60 a 69 anos')].reset_index()
df2.drop(columns=['index'], inplace=True)
df2

,Cod.,Idade,Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio,Homens,Mulheres
0,3150901,18 ou 19 anos,Total,81,78
1,3150901,20 a 24 anos,Total,209,201
2,3150901,25 a 29 anos,Total,207,183
3,3150901,30 a 34 anos,Total,206,200
4,3150901,35 a 39 anos,Total,204,152
...,...,...,...,...,...
55645,3150802,40 a 44 anos,Total,555,538
55646,3150802,45 a 49 anos,Total,517,465
55647,3150802,50 a 54 anos,Total,458,411
55648,3150802,55 a 59 anos,Total,330,410
55649,3150802,60 a 69 anos,Total,554,607

In [85]:
#Total de pessoas do sexo feminino entre 18 e 70 anos não completos em determinada região.
df2.rename(columns={'Cod.' : 'CD_MUN_IBGE','Mulheres':'QT_PBCO_FMNN_CSR'}, inplace=True)
df2

,CD_MUN_IBGE,Idade,Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio,Homens,QT_PBCO_FMNN_CSR
0,3150901,18 ou 19 anos,Total,81,78
1,3150901,20 a 24 anos,Total,209,201
2,3150901,25 a 29 anos,Total,207,183
3,3150901,30 a 34 anos,Total,206,200
4,3150901,35 a 39 anos,Total,204,152
...,...,...,...,...,...
55645,3150802,40 a 44 anos,Total,555,538
55646,3150802,45 a 49 anos,Total,517,465
55647,3150802,50 a 54 anos,Total,458,411
55648,3150802,55 a 59 anos,Total,330,410
55649,3150802,60 a 69 anos,Total,554,607

In [86]:
df2_1 = df2

In [87]:
df2_1.drop(columns=['Idade','Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio', 'Homens'], inplace=True)
df2_1

       CD_MUN_IBGE  QT_PBCO_FMNN_CSR
0          3150901                78
1          3150901               201
2          3150901               183
3          3150901               200
4          3150901               152
...            ...               ...
55645      3150802               538
55646      3150802               465
55647      3150802               411
55648      3150802               410
55649      3150802               607

[55650 rows x 2 columns]

In [88]:
df2_2 = df2_1.groupby('CD_MUN_IBGE').QT_PBCO_FMNN_CSR.sum().reset_index()
df2_2

      CD_MUN_IBGE  QT_PBCO_FMNN_CSR
0         1100015              7489
1         1100023             28713
2         1100031              1928
3         1100049             26057
4         1100056              5567
...           ...               ...
5560      5222005              4088
5561      5222054              2314
5562      5222203              1304
5563      5222302              1522
5564      5300108            927884

[5565 rows x 2 columns]

In [89]:
#Número correspondente à quantidade de pessoas entre 0 e 20 anos incompletos em determinada região.
#'0 a 4 anos|5 a 9 anos|10 a 14 anos|15 a 17 anos|18 ou 19 anos'
df3 = tabela1378[tabela1378['Idade'].str.contains('0 a 4 anos|5 a 9 anos|10 a 14 anos|15 a 17 anos|18 ou 19 anos')].reset_index()
df3.drop(columns=['index'], inplace=True)
df3

,Cod.,Idade,Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio,Homens,Mulheres
0,3150901,0 a 4 anos,Total,155,168
1,3150901,5 a 9 anos,Total,193,162
2,3150901,10 a 14 anos,Total,227,224
3,3150901,15 a 17 anos,Total,138,147
4,3150901,18 ou 19 anos,Total,81,78
...,...,...,...,...,...
27820,3150802,0 a 4 anos,Total,624,589
27821,3150802,5 a 9 anos,Total,662,683
27822,3150802,10 a 14 anos,Total,846,905
27823,3150802,15 a 17 anos,Total,566,532
27824,3150802,18 ou 19 anos,Total,352,330

In [90]:
#Total de pessoas entre 0 e 20 anos incompletos em determinada região.
df3['QT_PBCO_BPR_JNR'] = df3['Homens'] + df3['Mulheres']
df3.rename(columns={'Cod.' : 'CD_MUN_IBGE'}, inplace=True)
df3

,CD_MUN_IBGE,Idade,Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio,Homens,Mulheres,QT_PBCO_BPR_JNR
0,3150901,0 a 4 anos,Total,155,168,323
1,3150901,5 a 9 anos,Total,193,162,355
2,3150901,10 a 14 anos,Total,227,224,451
3,3150901,15 a 17 anos,Total,138,147,285
4,3150901,18 ou 19 anos,Total,81,78,159
...,...,...,...,...,...,...
27820,3150802,0 a 4 anos,Total,624,589,1213
27821,3150802,5 a 9 anos,Total,662,683,1345
27822,3150802,10 a 14 anos,Total,846,905,1751
27823,3150802,15 a 17 anos,Total,566,532,1098
27824,3150802,18 ou 19 anos,Total,352,330,682

In [91]:
df3_1=df3

In [92]:
df3_1.drop(columns=['Idade','Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio', 'Homens', 'Mulheres'], inplace=True)
df3_1

       CD_MUN_IBGE  QT_PBCO_BPR_JNR
0          3150901              323
1          3150901              355
2          3150901              451
3          3150901              285
4          3150901              159
...            ...              ...
27820      3150802             1213
27821      3150802             1345
27822      3150802             1751
27823      3150802             1098
27824      3150802              682

[27825 rows x 2 columns]

In [93]:
df3_2 = df3_1.groupby('CD_MUN_IBGE').QT_PBCO_BPR_JNR.sum().reset_index()
df3_2

      CD_MUN_IBGE  QT_PBCO_BPR_JNR
0         1100015             9004
1         1100023            33853
2         1100031             2212
3         1100049            27416
4         1100056             5946
...           ...              ...
5560      5222005             4086
5561      5222054             2429
5562      5222203             1832
5563      5222302             1837
5564      5300108           829238

[5565 rows x 2 columns]

In [94]:
#Número correspondente à quantidade total de pessoas em determinada região.
df4 = tabela1378
df4

,Cod.,Idade,Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio,Homens,Mulheres
0,3150901,0 a 4 anos,Total,155,168
1,3150901,5 a 9 anos,Total,193,162
2,3150901,10 a 14 anos,Total,227,224
3,3150901,15 a 17 anos,Total,138,147
4,3150901,18 ou 19 anos,Total,81,78
...,...,...,...,...,...
42565,3150802,45 a 49 anos,Total,517,465
42566,3150802,50 a 54 anos,Total,458,411
42567,3150802,55 a 59 anos,Total,330,410
42568,3150802,60 a 69 anos,Total,554,607
42569,3150802,70 anos ou mais,Total,480,686

In [95]:
df4['QT_POP_TTL'] = df4['Homens'] + df4['Mulheres']
df4.rename(columns={'Cod.' : 'CD_MUN_IBGE'}, inplace=True)
df4

,CD_MUN_IBGE,Idade,Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio,Homens,Mulheres,QT_POP_TTL
0,3150901,0 a 4 anos,Total,155,168,323
1,3150901,5 a 9 anos,Total,193,162,355
2,3150901,10 a 14 anos,Total,227,224,451
3,3150901,15 a 17 anos,Total,138,147,285
4,3150901,18 ou 19 anos,Total,81,78,159
...,...,...,...,...,...,...
42565,3150802,45 a 49 anos,Total,517,465,982
42566,3150802,50 a 54 anos,Total,458,411,869
42567,3150802,55 a 59 anos,Total,330,410,740
42568,3150802,60 a 69 anos,Total,554,607,1161
42569,3150802,70 anos ou mais,Total,480,686,1166

In [96]:
df4_1 = df4

In [97]:
df4_1.drop(columns=['Idade','Condicao no domicilio e o compartilhamento da responsabilidade pelo domicilio', 'Homens', 'Mulheres'], inplace=True)
df4_1

       CD_MUN_IBGE  QT_POP_TTL
0          3150901         323
1          3150901         355
2          3150901         451
3          3150901         285
4          3150901         159
...            ...         ...
42565      3150802         982
42566      3150802         869
42567      3150802         740
42568      3150802        1161
42569      3150802        1166

[83475 rows x 2 columns]

In [98]:
df4_2 = df4_1.groupby('CD_MUN_IBGE').QT_POP_TTL.sum().reset_index()
df4_2

      CD_MUN_IBGE  QT_POP_TTL
0         1100015       24392
1         1100023       90353
2         1100031        6313
3         1100049       78574
4         1100056       17029
...           ...         ...
5560      5222005       12548
5561      5222054        7371
5562      5222203        4735
5563      5222302        5145
5564      5300108     2570160

[5565 rows x 2 columns]

In [99]:
#efetua a função de junção (merge)
exercicio5_1=exercicio4.merge(df1_2, how='left', on='CD_MUN_IBGE')
exercicio5_2=exercicio5_1.merge(df2_2, how='left', on='CD_MUN_IBGE')
exercicio5_3=exercicio5_2.merge(df3_2, how='left', on='CD_MUN_IBGE')
exercicio5_4=exercicio5_3.merge(df4_2, how='left', on='CD_MUN_IBGE')
exercicio5_4

,CD_MUN_IBGE,NM_MUN_IBGE,SG_UF,CD_MUN_UOR,VL_AGRP,VL_PIB,VL_PIB_PCPT,IC_PRTC_ANEG_PIB,IN_PRMO_ATVD,IN_SGDO_ATVD,IN_TRCO_ATVD,QT_PRF_ATDT_BB,QT_PBCO_CC_JOV,QT_PBCO_FMNN_CSR,QT_PBCO_BPR_JNR,QT_POP_TTL
0,1100106,GUAJARA-MIRIM,RO,38150,59384.0,984586.0,21148.43,0.0603,False,False,False,1,7267.0,12191.0,17466.0,41656.0
1,1100379,ALTO ALEGRE DOS PARECIS,RO,<NA>,156818.0,324544.0,24484.67,0.4832,True,False,True,0,2267.0,3691.0,5166.0,12816.0
2,1100205,PORTO VELHO,RO,73400,797348.0,19448762.0,36059.36,0.0410,False,False,False,14,66799.0,137297.0,155678.0,428527.0
3,1100452,BURITIS,RO,17501,219630.0,781624.0,19368.23,0.2810,False,True,False,1,5539.0,9503.0,13069.0,32383.0
4,1100122,JI-PARANA,RO,49355,155961.0,4057626.0,31210.35,0.0384,False,False,False,4,17705.0,38779.0,41191.0,116610.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,4217550,SERRA ALTA,SC,89125,30674.0,97517.0,29949.81,0.3146,True,False,False,1,501.0,1074.0,1008.0,3285.0
5566,4218756,TUNAPOLIS,SC,95050,88820.0,172055.0,38023.18,0.5162,True,False,False,1,634.0,1522.0,1347.0,4633.0
5567,5209457,GUARINOS,GO,<NA>,18054.0,53186.0,30619.34,0.3395,True,False,False,0,306.0,736.0,640.0,2299.0
5568,5218789,RIO QUENTE,GO,77710,13304.0,267831.0,58072.57,0.0497,False,False,False,1,454.0,1069.0,1105.0,3312.0
5569,5003157,CORONEL SAPUCAIA,MS,<NA>,83861.0,265873.0,17318.49,0.3154,False,True,False,0,2685.0,4023.0,6234.0,14064.0

In [100]:
exercicio5 = exercicio5_4
exercicio5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5570 entries, 0 to 5569
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_MUN_IBGE       5570 non-null   int64
 1   NM_MUN_IBGE       5570 non-null   object
 2   SG_UF             5570 non-null   object
 3   CD_MUN_UOR        3117 non-null   Int64
 4   VL_AGRP           5570 non-null   float64
 5   VL_PIB            5570 non-null   float64
 6   VL_PIB_PCPT       5570 non-null   float64
 7   IC_PRTC_ANEG_PIB  5570 non-null   float64
 8   IN_PRMO_ATVD      5570 non-null   bool
 9   IN_SGDO_ATVD      5570 non-null   bool
 10  IN_TRCO_ATVD      5570 non-null   bool
 11  QT_PRF_ATDT_BB    5570 non-null   Int64
 12  QT_PBCO_CC_JOV    5565 non-null   float64
 13  QT_PBCO_FMNN_CSR  5565 non-null   float64
 14  QT_PBCO_BPR_JNR   5565 non-null   float64
 15  QT_POP_TTL        5565 non-null   float64
dtypes: Int64(2), bool(3), float64(8), int64(1), object(2)
memory usage: 592.9+ KB

In [101]:
#converter coluna para int64:
exercicio5['QT_PBCO_CC_JOV'] = exercicio5['QT_PBCO_CC_JOV'].astype("Int64")
exercicio5['QT_PBCO_FMNN_CSR'] = exercicio5['QT_PBCO_FMNN_CSR'].astype("Int64")
exercicio5['QT_PBCO_BPR_JNR'] = exercicio5['QT_PBCO_BPR_JNR'].astype("Int64")
exercicio5['QT_POP_TTL'] = exercicio5['QT_POP_TTL'].astype("Int64")
exercicio5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5570 entries, 0 to 5569
Data columns (total 16 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_MUN_IBGE       5570 non-null   int64
 1   NM_MUN_IBGE       5570 non-null   object
 2   SG_UF             5570 non-null   object
 3   CD_MUN_UOR        3117 non-null   Int64
 4   VL_AGRP           5570 non-null   float64
 5   VL_PIB            5570 non-null   float64
 6   VL_PIB_PCPT       5570 non-null   float64
 7   IC_PRTC_ANEG_PIB  5570 non-null   float64
 8   IN_PRMO_ATVD      5570 non-null   bool
 9   IN_SGDO_ATVD      5570 non-null   bool
 10  IN_TRCO_ATVD      5570 non-null   bool
 11  QT_PRF_ATDT_BB    5570 non-null   Int64
 12  QT_PBCO_CC_JOV    5565 non-null   Int64
 13  QT_PBCO_FMNN_CSR  5565 non-null   Int64
 14  QT_PBCO_BPR_JNR   5565 non-null   Int64
 15  QT_POP_TTL        5565 non-null   Int64
dtypes: Int64(6), bool(3), float64(4), int64(1), object(2)
memory usage: 614.7+ KB

In [102]:
exercicio5

,CD_MUN_IBGE,NM_MUN_IBGE,SG_UF,CD_MUN_UOR,VL_AGRP,VL_PIB,VL_PIB_PCPT,IC_PRTC_ANEG_PIB,IN_PRMO_ATVD,IN_SGDO_ATVD,IN_TRCO_ATVD,QT_PRF_ATDT_BB,QT_PBCO_CC_JOV,QT_PBCO_FMNN_CSR,QT_PBCO_BPR_JNR,QT_POP_TTL
0,1100106,GUAJARA-MIRIM,RO,38150,59384.0,984586.0,21148.43,0.0603,False,False,False,1,7267,12191,17466,41656
1,1100379,ALTO ALEGRE DOS PARECIS,RO,<NA>,156818.0,324544.0,24484.67,0.4832,True,False,True,0,2267,3691,5166,12816
2,1100205,PORTO VELHO,RO,73400,797348.0,19448762.0,36059.36,0.0410,False,False,False,14,66799,137297,155678,428527
3,1100452,BURITIS,RO,17501,219630.0,781624.0,19368.23,0.2810,False,True,False,1,5539,9503,13069,32383
4,1100122,JI-PARANA,RO,49355,155961.0,4057626.0,31210.35,0.0384,False,False,False,4,17705,38779,41191,116610
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,4217550,SERRA ALTA,SC,89125,30674.0,97517.0,29949.81,0.3146,True,False,False,1,501,1074,1008,3285
5566,4218756,TUNAPOLIS,SC,95050,88820.0,172055.0,38023.18,0.5162,True,False,False,1,634,1522,1347,4633
5567,5209457,GUARINOS,GO,<NA>,18054.0,53186.0,30619.34,0.3395,True,False,False,0,306,736,640,2299
5568,5218789,RIO QUENTE,GO,77710,13304.0,267831.0,58072.57,0.0497,False,False,False,1,454,1069,1105,3312
5569,5003157,CORONEL SAPUCAIA,MS,<NA>,83861.0,265873.0,17318.49,0.3154,False,True,False,0,2685,4023,6234,14064

# Exercício 6 - Indicadores de população

Criar indicadores da população total de cada município conforme abaixo:

|Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|
|Primeiro Indicador de População do Município|?|BOOL|Indicador booleano (true ou false) que aponta municípios com população total maior ou igual a 100.000 habitantes.|Não|?|?|
|Segundo Indicador de População do Município|?|BOOL|Indicador booleano (true ou false) que aponta municípios com população total maior ou igual a 5.000 habitantes.|Não|?|?|

**Regra 1:** havendo dados faltantes para os indicadores acima, deverá ser atribuído "Falso" para o Primeiro Indicador de População do Município e "True" para o Segundo Indicador de População do Município.

**Regra 2:** atribua os novos atributos ao DataFrame exercicio6, que deverá conter todos os atributos listados nos Exercícios 1 a 5, bem como os listados acima.

In [103]:
# criar um dataframe chamado df (usando os PARÂMETROS da bibliote PANDAS)
populacao = pd.DataFrame()

In [104]:
#indicadores booleano de população
populacao['CD_MUN_IBGE'] = exercicio5['CD_MUN_IBGE']
populacao['PRMO_IN_POP_MUN'] = exercicio5['QT_POP_TTL'] >= 100000
populacao['SGDO_IN_POP_MUN'] = exercicio5['QT_POP_TTL'] >= 5000
populacao

      CD_MUN_IBGE  PRMO_IN_POP_MUN  SGDO_IN_POP_MUN
0         1100106            False             True
1         1100379            False             True
2         1100205             True             True
3         1100452            False             True
4         1100122             True             True
...           ...              ...              ...
5565      4217550            False            False
5566      4218756            False            False
5567      5209457            False            False
5568      5218789            False            False
5569      5003157            False             True

[5570 rows x 3 columns]

In [105]:
populacao.PRMO_IN_POP_MUN.sort_values().tail()

1142    <NA>
5015    <NA>
5016    <NA>
5017    <NA>
5018    <NA>
Name: PRMO_IN_POP_MUN, dtype: boolean

In [106]:
populacao_1 = populacao
populacao_1['CD_MUN_IBGE'] = populacao_1['CD_MUN_IBGE']
populacao_1['PRMO_IN_POP_MUN'] = populacao_1['PRMO_IN_POP_MUN'].astype(float)
populacao_1['SGDO_IN_POP_MUN'] = populacao_1['SGDO_IN_POP_MUN'].astype(float)
populacao_1

      CD_MUN_IBGE  PRMO_IN_POP_MUN  SGDO_IN_POP_MUN
0         1100106              0.0              1.0
1         1100379              0.0              1.0
2         1100205              1.0              1.0
3         1100452              0.0              1.0
4         1100122              1.0              1.0
...           ...              ...              ...
5565      4217550              0.0              0.0
5566      4218756              0.0              0.0
5567      5209457              0.0              0.0
5568      5218789              0.0              0.0
5569      5003157              0.0              1.0

[5570 rows x 3 columns]

In [107]:
populacao_1.PRMO_IN_POP_MUN.sort_values().tail()

1142   NaN
5015   NaN
5016   NaN
5017   NaN
5018   NaN
Name: PRMO_IN_POP_MUN, dtype: float64

In [108]:
populacao_1.SGDO_IN_POP_MUN.sort_values().tail()

1142   NaN
5015   NaN
5016   NaN
5017   NaN
5018   NaN
Name: SGDO_IN_POP_MUN, dtype: float64

In [109]:
#fillna()
populacao_1['PRMO_IN_POP_MUN']= populacao_1.PRMO_IN_POP_MUN.fillna(0)
populacao_1['SGDO_IN_POP_MUN']= populacao_1.SGDO_IN_POP_MUN.fillna(1)

In [110]:
populacao_1.PRMO_IN_POP_MUN.unique()

array([0., 1.])

In [111]:
populacao_1.SGDO_IN_POP_MUN.unique()

array([1., 0.])

In [112]:
#havendo dados faltantes <NA> deverá ser atribuído "Falso" para o Primeiro Indicador de População do Município e "True" para o Segundo Indicador de População
populacao_1['PRMO_IN_POP_MUN'] = populacao_1['PRMO_IN_POP_MUN'].astype("bool")
populacao_1['SGDO_IN_POP_MUN'] = populacao_1['SGDO_IN_POP_MUN'].astype("bool")
populacao_1

      CD_MUN_IBGE  PRMO_IN_POP_MUN  SGDO_IN_POP_MUN
0         1100106            False             True
1         1100379            False             True
2         1100205             True             True
3         1100452            False             True
4         1100122             True             True
...           ...              ...              ...
5565      4217550            False            False
5566      4218756            False            False
5567      5209457            False            False
5568      5218789            False            False
5569      5003157            False             True

[5570 rows x 3 columns]

In [113]:
populacao_1.PRMO_IN_POP_MUN.unique()

array([False,  True])

In [114]:
populacao_1.SGDO_IN_POP_MUN.unique()

array([ True, False])

In [115]:
populacao_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5570 entries, 0 to 5569
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CD_MUN_IBGE      5570 non-null   int64
 1   PRMO_IN_POP_MUN  5570 non-null   bool
 2   SGDO_IN_POP_MUN  5570 non-null   bool
dtypes: bool(2), int64(1)
memory usage: 97.9 KB

In [116]:
exercicio6 = exercicio5.merge(populacao_1, how='left', on='CD_MUN_IBGE')
exercicio6

,CD_MUN_IBGE,NM_MUN_IBGE,SG_UF,CD_MUN_UOR,VL_AGRP,VL_PIB,VL_PIB_PCPT,IC_PRTC_ANEG_PIB,IN_PRMO_ATVD,IN_SGDO_ATVD,IN_TRCO_ATVD,QT_PRF_ATDT_BB,QT_PBCO_CC_JOV,QT_PBCO_FMNN_CSR,QT_PBCO_BPR_JNR,QT_POP_TTL,PRMO_IN_POP_MUN,SGDO_IN_POP_MUN
0,1100106,GUAJARA-MIRIM,RO,38150,59384.0,984586.0,21148.43,0.0603,False,False,False,1,7267,12191,17466,41656,False,True
1,1100379,ALTO ALEGRE DOS PARECIS,RO,<NA>,156818.0,324544.0,24484.67,0.4832,True,False,True,0,2267,3691,5166,12816,False,True
2,1100205,PORTO VELHO,RO,73400,797348.0,19448762.0,36059.36,0.0410,False,False,False,14,66799,137297,155678,428527,True,True
3,1100452,BURITIS,RO,17501,219630.0,781624.0,19368.23,0.2810,False,True,False,1,5539,9503,13069,32383,False,True
4,1100122,JI-PARANA,RO,49355,155961.0,4057626.0,31210.35,0.0384,False,False,False,4,17705,38779,41191,116610,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,4217550,SERRA ALTA,SC,89125,30674.0,97517.0,29949.81,0.3146,True,False,False,1,501,1074,1008,3285,False,False
5566,4218756,TUNAPOLIS,SC,95050,88820.0,172055.0,38023.18,0.5162,True,False,False,1,634,1522,1347,4633,False,False
5567,5209457,GUARINOS,GO,<NA>,18054.0,53186.0,30619.34,0.3395,True,False,False,0,306,736,640,2299,False,False
5568,5218789,RIO QUENTE,GO,77710,13304.0,267831.0,58072.57,0.0497,False,False,False,1,454,1069,1105,3312,False,False
5569,5003157,CORONEL SAPUCAIA,MS,<NA>,83861.0,265873.0,17318.49,0.3154,False,True,False,0,2685,4023,6234,14064,False,True

In [117]:
exercicio6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 5570 entries, 0 to 5569
Data columns (total 18 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   CD_MUN_IBGE       5570 non-null   int64
 1   NM_MUN_IBGE       5570 non-null   object
 2   SG_UF             5570 non-null   object
 3   CD_MUN_UOR        3117 non-null   Int64
 4   VL_AGRP           5570 non-null   float64
 5   VL_PIB            5570 non-null   float64
 6   VL_PIB_PCPT       5570 non-null   float64
 7   IC_PRTC_ANEG_PIB  5570 non-null   float64
 8   IN_PRMO_ATVD      5570 non-null   bool
 9   IN_SGDO_ATVD      5570 non-null   bool
 10  IN_TRCO_ATVD      5570 non-null   bool
 11  QT_PRF_ATDT_BB    5570 non-null   Int64
 12  QT_PBCO_CC_JOV    5565 non-null   Int64
 13  QT_PBCO_FMNN_CSR  5565 non-null   Int64
 14  QT_PBCO_BPR_JNR   5565 non-null   Int64
 15  QT_POP_TTL        5565 non-null   Int64
 16  PRMO_IN_POP_MUN   5570 non-null   bool
 17  SGDO_IN_POP_MUN   5570 non-null   bool
dtypes: Int64(6), bool(5), float64(4), int64(1), object(2)
memory usage: 625.5+ KB

# Exercício Bônus 1 - Identificar e tratar municípios emancipados

Identificar e tratar os municípios emancipados desde o último censo (2010) e gerar dados para eles no novo DataFrame bonus1 a partir dos respectivos municípios de origem.

O DataFrame bonus1 deverá conter todos os atributos listados nos exercícios 1 a 6 e **não deverá conter valores nulos nos atributos abaixo relacionados**:

|Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|
|Quantidade Público Conta Corrente Jovem|?|INT64|Número correspondente à quantidade de pessoas entre 10 e 17 anos completos em determinada região.|Não|?|?|
|Quantidade Público Feminino Consórcio|?|INT64|Número correspondente à quantidade de pessoas do sexo feminino em determinada região.|Não|?|?|
|Quantidade Público BrasilPrev Jr.|?|INT64|Número correspondente à quantidade de pessoas entre 0 e 20 anos incompletos em determinada região.|Não|?|?|
|Quantidade População Total|?|INT64|Número correspondente à quantidade total de pessoas em determinada região.|Não|?|?|

Ao gerar os dados para os registros, deverão ser observadas as seguintes **regras**:

**Regra 1:** O número total de pessoas do censo de 2010 deverá ser mantido (exceto por algumas variações decorrentes dos arredondamentos), portanto será necessário calcular a quantidade a partir da **proporção** de pessoas do município de origem e destino.

**Regra 2:** Para o cálculo da proporção, tomar por base a **"População estimada [2021]"** dos municípios disponível [aqui](https://cidades.ibge.gov.br), pesquisando pelo código do município em **"O que você procura?"**.

![image.png]()

    Exemplo:
||Cod.IBGE|Município|UF|População Estimada 2021|
|---|---|---|---|---|
|**Município Origem**|4209409|LAGUNA|SC|46.424|
|**Municipio Emancipado**|4212650|PESCARIA BRAVA|SC|10.225|

**Regra 3:** Poderá haver mais de um município de origem para um mesmo município emancipado. Nesse caso, o método de recálculo deverá seguir o exemplo apresentado abaixo:

    Exemplo
![image.png]()

**Regra 4:** Não utilize arredondamentos para aplicação das proporções. Utilize os índices percentuais na íntegra, com todas as casas decimais. Deverá ser utilizado arredondamento apenas após o cálculo das quantidades de pessoas de cada um dos campos listados no enunciado.

**Regra 5:** O número de pessoas das demais cidades não deve sofrer alterações.

# Exercício Bônus 2 - IDH

Incluir no DataFrame bonus2 todos os atributos relacionados nos exercícios anteriores, acrescentando os atributos de IDH listados abaixo:

|Nome Lógico|Nome Físico|Formato|Descrição|Aceita Nulos|Tabela Origem|Atributo Origem|
|---|---|---|---|---|---|---|
|Índice de Desenvolvimento Humano Municipal|?|FLOAT64|Número que aponta o Índice de Desenvolvimento Humano, composto por três indicadores municipais: vida útil (longevidade), educação e renda. Varia de 0 a 1. Quanto mais próximo de 1, maior o desenvolvimento.|Sim|?|?|
|Índice de Desenvolvimento Humano Municipal Vida Útil|?|FLOAT64|Número que indica o Índice de Desenvolvimento Humano considerando a expectativa de vida ao nascer de determinada população de um município, variando de 0 a 1. Quanto mais próximo de 1, maior o desenvolvimento.|Sim|?|?|
|Índice de Desenvolvimento Humano Municipal Educação|?|FLOAT64|Número que indica o Índice de Desenvolvimento Humano considerando o percentual de pessoas frequentando ou com escolarização completa conforme a idade. Percentual de Escolaridade de Adultos (acima de 18): fundamental completo. Para população jovem: média de percentual de 5-6 anos frequentando escola; 11-13 em fundamental; 15 a 17 fundamental completo; 18 a 20 médio completo. Varia de 0 a 1. Quanto mais próximo de 1, maior o desenvolvimento.|Sim|?|?|
|Índice de Desenvolvimento Humano Municipal Renda|?|FLOAT64|Número que reflete o Índice de Desenvolvimento Humano considerando a soma da renda de todos os residentes, dividida pelo número total de pessoas do município. Inclui crianças e pessoas sem registro de renda. Varia de 0 a 1. Quanto mais próximo de 1, maior o desenvolvimento.|Sim|?|?|

**Esclarecimento:** o nome lógico do atributo correspondente ao IDH Longevidade foi ajustado para "Vida Útil" de modo a possibilitar adequação à nomenclatura do Banco

**Regra 1:** havendo diferença entre os nomes dos municípios das bases do IDH e da ABT, deverá ser mantida a grafia original da tabela municipios_ibge

**Regra 2:** para os municípios emancipados, deverá ser mantido o IDH do município de origem ou a média do IDH dos municípios de origem, conforme o caso.

# Exercício 7 - Perguntas

Considerando o público das campanhas BB Cash e Mulheres no Topo - Consórcio, classifique os dados conforme a quantidade de pessoas de forma descendente (do maior para o menor) e responda às seguintes questões:

**a)**	Qual município detém a 18ª posição do ranking para a campanha BB Cash?

**b)**	Qual município detém a 50ª posição do ranking para a campanha BB Cash?

**c)**	Qual município detém a 47ª posição do ranking para a campanha de Mulheres no Topo - Consórcio para o público Feminino?

**d)**	Qual município detém a 64ª posição do ranking para a campanha de Mulheres no Topo - Consórcio para o público Feminino?


**Regra 1:** Havendo empate, o critério de desempate será pela maior população total.

**Regra 2:** Ao final, deverão ser criadas uma variável para cada um dos itens acima, sendo o nome delas: e7a, e7b, e7c e e7d

**Regra 3:** Cada variável deverá conter uma string no formato 'MUNICIPIO, UF'. 

    Exemplo: 

        comando: print(e7a)

        resultado: BRASILIA, DF

In [118]:
# classifique os dados conforme a quantidade de pessoas de forma descendente (do maior para o menor)
# Regra 1: Havendo empate, o critério de desempate será pela maior população total.
# Público: BB Cash - coluna QT_PBCO_CC_JOV
bbcash = exercicio6.copy()
bbcash.sort_values(['QT_PBCO_CC_JOV','QT_POP_TTL'], ascending = False, inplace = True)
bbcash = bbcash.reset_index()
bbcash

,index,CD_MUN_IBGE,NM_MUN_IBGE,SG_UF,CD_MUN_UOR,VL_AGRP,VL_PIB,VL_PIB_PCPT,IC_PRTC_ANEG_PIB,IN_PRMO_ATVD,IN_SGDO_ATVD,IN_TRCO_ATVD,QT_PRF_ATDT_BB,QT_PBCO_CC_JOV,QT_PBCO_FMNN_CSR,QT_PBCO_BPR_JNR,QT_POP_TTL,PRMO_IN_POP_MUN,SGDO_IN_POP_MUN
0,4120,3550308,SAO PAULO,SP,86900,61896.0,748759007.0,60750.09,0.0001,False,False,False,347,1373208,4134361,3178893,11253503,True,True
1,3574,3304557,RIO DE JANEIRO,RJ,77425,105065.0,331279902.0,49094.40,0.0003,False,False,False,156,744659,2324815,1690508,6320446,True,True
2,5424,5300108,BRASILIA,DF,2000,1623977.0,265847334.0,87016.16,0.0061,False,False,False,102,350311,927884,829238,2570160,True,True
3,1269,2304400,FORTALEZA,CE,35350,107783.0,65160893.0,24253.93,0.0017,False,False,False,47,344014,893742,777835,2452185,True,True
4,2498,2927408,SALVADOR,BA,79300,54334.0,58938115.0,20417.14,0.0009,False,False,False,57,338546,1017978,769358,2675656,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,1142,4314548,PINTO BANDEIRA,RS,<NA>,23060.0,64220.0,21152.85,0.3591,True,False,False,0,<NA>,<NA>,<NA>,<NA>,False,True
5566,5015,1504752,MOJUI DOS CAMPOS,PA,99999,49060.0,194089.0,11992.63,0.2528,False,True,False,1,<NA>,<NA>,<NA>,<NA>,False,True
5567,5016,4220000,BALNEARIO RINCAO,SC,<NA>,11327.0,270465.0,20891.76,0.0419,False,False,False,0,<NA>,<NA>,<NA>,<NA>,False,True
5568,5017,4212650,PESCARIA BRAVA,SC,<NA>,5336.0,107685.0,10600.01,0.0496,False,False,False,0,<NA>,<NA>,<NA>,<NA>,False,True
5569,5018,5006275,PARAISO DAS AGUAS,MS,<NA>,479523.0,903055.0,159719.58,0.5310,True,False,False,0,<NA>,<NA>,<NA>,<NA>,False,True

In [119]:
bbcash

,index,CD_MUN_IBGE,NM_MUN_IBGE,SG_UF,CD_MUN_UOR,VL_AGRP,VL_PIB,VL_PIB_PCPT,IC_PRTC_ANEG_PIB,IN_PRMO_ATVD,IN_SGDO_ATVD,IN_TRCO_ATVD,QT_PRF_ATDT_BB,QT_PBCO_CC_JOV,QT_PBCO_FMNN_CSR,QT_PBCO_BPR_JNR,QT_POP_TTL,PRMO_IN_POP_MUN,SGDO_IN_POP_MUN
0,4120,3550308,SAO PAULO,SP,86900,61896.0,748759007.0,60750.09,0.0001,False,False,False,347,1373208,4134361,3178893,11253503,True,True
1,3574,3304557,RIO DE JANEIRO,RJ,77425,105065.0,331279902.0,49094.40,0.0003,False,False,False,156,744659,2324815,1690508,6320446,True,True
2,5424,5300108,BRASILIA,DF,2000,1623977.0,265847334.0,87016.16,0.0061,False,False,False,102,350311,927884,829238,2570160,True,True
3,1269,2304400,FORTALEZA,CE,35350,107783.0,65160893.0,24253.93,0.0017,False,False,False,47,344014,893742,777835,2452185,True,True
4,2498,2927408,SALVADOR,BA,79300,54334.0,58938115.0,20417.14,0.0009,False,False,False,57,338546,1017978,769358,2675656,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,1142,4314548,PINTO BANDEIRA,RS,<NA>,23060.0,64220.0,21152.85,0.3591,True,False,False,0,<NA>,<NA>,<NA>,<NA>,False,True
5566,5015,1504752,MOJUI DOS CAMPOS,PA,99999,49060.0,194089.0,11992.63,0.2528,False,True,False,1,<NA>,<NA>,<NA>,<NA>,False,True
5567,5016,4220000,BALNEARIO RINCAO,SC,<NA>,11327.0,270465.0,20891.76,0.0419,False,False,False,0,<NA>,<NA>,<NA>,<NA>,False,True
5568,5017,4212650,PESCARIA BRAVA,SC,<NA>,5336.0,107685.0,10600.01,0.0496,False,False,False,0,<NA>,<NA>,<NA>,<NA>,False,True
5569,5018,5006275,PARAISO DAS AGUAS,MS,<NA>,479523.0,903055.0,159719.58,0.5310,True,False,False,0,<NA>,<NA>,<NA>,<NA>,False,True

In [120]:
# a) Qual município detém a 18ª posição do ranking para a campanha BB Cash?
e7a = bbcash.NM_MUN_IBGE[17] + ', ' + bbcash.SG_UF[17]
print(e7a)

CAMPINAS, SP

In [121]:
# b) Qual município detém a 50ª posição do ranking para a campanha BB Cash?
e7b = bbcash.NM_MUN_IBGE[49] + ', ' + bbcash.SG_UF[49]
print(e7b)

CAUCAIA, CE

In [122]:
# classifique os dados conforme a quantidade de pessoas de forma descendente (do maior para o menor)
# Regra 1: Havendo empate, o critério de desempate será pela maior população total.
# Público: Mulheres no Topo - Consórcio para o público Feminino - coluna QT_PBCO_FMNN_CSR
mulheresconsorcio = exercicio6.copy()
mulheresconsorcio.sort_values(['QT_PBCO_FMNN_CSR','QT_POP_TTL'], ascending = False, inplace = True)
mulheresconsorcio = mulheresconsorcio.reset_index()
mulheresconsorcio

,index,CD_MUN_IBGE,NM_MUN_IBGE,SG_UF,CD_MUN_UOR,VL_AGRP,VL_PIB,VL_PIB_PCPT,IC_PRTC_ANEG_PIB,IN_PRMO_ATVD,IN_SGDO_ATVD,IN_TRCO_ATVD,QT_PRF_ATDT_BB,QT_PBCO_CC_JOV,QT_PBCO_FMNN_CSR,QT_PBCO_BPR_JNR,QT_POP_TTL,PRMO_IN_POP_MUN,SGDO_IN_POP_MUN
0,4120,3550308,SAO PAULO,SP,86900,61896.0,748759007.0,60750.09,0.0001,False,False,False,347,1373208,4134361,3178893,11253503,True,True
1,3574,3304557,RIO DE JANEIRO,RJ,77425,105065.0,331279902.0,49094.40,0.0003,False,False,False,156,744659,2324815,1690508,6320446,True,True
2,2498,2927408,SALVADOR,BA,79300,54334.0,58938115.0,20417.14,0.0009,False,False,False,57,338546,1017978,769358,2675656,True,True
3,5424,5300108,BRASILIA,DF,2000,1623977.0,265847334.0,87016.16,0.0061,False,False,False,102,350311,927884,829238,2570160,True,True
4,2635,3106200,BELO HORIZONTE,MG,13800,3110.0,97509893.0,38670.40,0.0000,False,False,False,83,278220,899132,632280,2375151,True,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5565,1142,4314548,PINTO BANDEIRA,RS,<NA>,23060.0,64220.0,21152.85,0.3591,True,False,False,0,<NA>,<NA>,<NA>,<NA>,False,True
5566,5015,1504752,MOJUI DOS CAMPOS,PA,99999,49060.0,194089.0,11992.63,0.2528,False,True,False,1,<NA>,<NA>,<NA>,<NA>,False,True
5567,5016,4220000,BALNEARIO RINCAO,SC,<NA>,11327.0,270465.0,20891.76,0.0419,False,False,False,0,<NA>,<NA>,<NA>,<NA>,False,True
5568,5017,4212650,PESCARIA BRAVA,SC,<NA>,5336.0,107685.0,10600.01,0.0496,False,False,False,0,<NA>,<NA>,<NA>,<NA>,False,True
5569,5018,5006275,PARAISO DAS AGUAS,MS,<NA>,479523.0,903055.0,159719.58,0.5310,True,False,False,0,<NA>,<NA>,<NA>,<NA>,False,True

In [123]:
# c) Qual município detém a 47ª posição do ranking para a campanha de Mulheres no Topo - Consórcio para o público Feminino?
e7c = mulheresconsorcio.NM_MUN_IBGE[46] + ', ' + mulheresconsorcio.SG_UF[46]
print(e7c)

APARECIDA DE GOIANIA, GO

In [124]:
# d) Qual município detém a 64ª posição do ranking para a campanha de Mulheres no Topo - Consórcio para o público Feminino?
e7d = mulheresconsorcio.NM_MUN_IBGE[63] + ', ' + mulheresconsorcio.SG_UF[63]
print(e7d)

MACAPA, AP

# Exercício Bônus 3 - Perguntas Extras

Considerando as regras das campanhas BrasilPrev Jr. e Custeio Agrícola, classifique os municípios conforme abaixo:

**1) BrasilPrev Jr.**
- **Público:** população de 0 a 20 anos incompletos nos municípios com maior idh dentre aqueles que tenham, no mínimo, 100 mil habitantes
- **Regra de classificação:** maior Índice de Desenvolvimento Humano Municipal
- **Desempate:** menor variância entre os IDHs de Renda, Longevidade e Educação

**2) Custeio Agrícola**
- **Público:** municípios com maior participação do Agronegócio no PIB dentre aqueles que tenham, no mínimo, 5 mil habitantes
- **Regra de classificação:** maior Participação do Agronegócio no PIB
- **Desempate:** maior Índice de Desenvolvimento Humano Municipal

Em seguida, responda às seguintes questões:

**a)**	Qual a posição do município ARARAQUARA, SP no ranking da campanha BrasilPrev Jr?

**b)**	Qual a posição do município RIO DE JANEIRO, RJ no ranking da campanha BrasilPrev Jr?

**c)**	Qual seria a posição do município RIO DE JANEIRO, RJ no ranking da campanha BrasilPrev Jr se considerássemos apenas a quantidade do público como variável classificadora?

**d)**	Qual a posição do município UNIÃO DOS PALMARES, AL no ranking da campanha Custeio Agrícola?

**e)**	Qual a posição do município BALSAS, MA no ranking da campanha Custeio Agrícola?

**f)**	Qual seria o primeiro colocado no ranking da campanha Custeio Agrícola se considerássemos apenas o índice de participação do agronegócio no PIB?

**Regra 1:** Ao final, deverá ser criada uma variável para cada um dos itens acima, sendo o nome delas: bonus_a, bonus_b, bonus_c, bonus_d, bonus_e e bonus_f

**Regra 2:** Cada variável deverá conter uma string nos seguinte formatos:

**itens a) até e):**
    
    Formato: xª posição, onde x indica a posição. 
    
    Exemplo:
    
        comando: print(bonus_a)

        resultado: 5ª posição
    
**item f):**
        
    Formato: MUNICIPIO, UF'. 
    
    Exemplo:

        comando: print(a)

        resultado: BRASILIA, DF

**Dica:** utilize os atributos calculados no exercício 6, conforme o caso.

# Boletim de Soluções

In [125]:
# importar bibliotecas para geração dos artefatos
import pickle

In [126]:
# Favor não alterar esta célula
# verificar a existência das variáveis e gerar artefatos para verificação
if 'exercicio1' in globals():
    print('DataFrame exercicio1 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio1.pkl','wb') as f:
        pickle.dump(exercicio1, f)
else:
    print('O exercício 1 não tem condições de ser avaliado.')

if 'exercicio2' in globals():
    print('DataFrame exercicio2 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio2.pkl','wb') as f:
        pickle.dump(exercicio2, f)
else:
    print('O exercício 2 não tem condições de ser avaliado.')
    
if 'exercicio3' in globals():
    print('DataFrame exercicio3 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio3.pkl','wb') as f:
        pickle.dump(exercicio3, f)
else:
    print('O exercício 3 não tem condições de ser avaliado.')

if 'exercicio4' in globals():
    print('DataFrame exercicio4 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio4.pkl','wb') as f:
        pickle.dump(exercicio4, f)
else:
    print('O exercício 4 não tem condições de ser avaliado.')

if 'exercicio5' in globals():
    print('DataFrame exercicio5 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio5.pkl','wb') as f:
        pickle.dump(exercicio5, f)
else:
    print('O exercício 5 não tem condições de ser avaliado.')
    
if 'exercicio6' in globals():
    print('DataFrame exercicio6 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_exercicio6.pkl','wb') as f:
        pickle.dump(exercicio6, f)
else:
    print('O exercício 6 não tem condições de ser avaliado.')

if 'bonus1' in globals():
    print('DataFrame bonus1 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_bonus1.pkl','wb') as f:
        pickle.dump(bonus1, f)
else:
    print('O exercício bonus1 não tem condições de ser avaliado.')

if 'bonus2' in globals():
    print('DataFrame bonus2 localizado. Ele poderá ser enviado para validação.')
    with open(f'{chaveF}_bonus2.pkl','wb') as f:
        pickle.dump(bonus2, f)
else:
    print('O exercício bonus2 não tem condições de ser avaliado.')
    
exercicio7 = {}

exercicio7['variavel'] = []
exercicio7['valor'] = []
if 'e7a' in globals():
    exercicio7['variavel'].append('e7a')
    exercicio7['valor'].append(e7a)
if 'e7b' in globals():
    exercicio7['variavel'].append('e7b')
    exercicio7['valor'].append(e7b)
if 'e7c' in globals():
    exercicio7['variavel'].append('e7c')
    exercicio7['valor'].append(e7c)
if 'e7d' in globals():
    exercicio7['variavel'].append('e7d')
    exercicio7['valor'].append(e7d)

exercicio7 = pd.DataFrame(exercicio7)
if exercicio7.shape[0] == 4:
    print('Variáveis e7a, e7b, e7c,e e7d localizadas. Elas poderão ser enviadas para validação.')
    exercicio7.to_csv(f'{chaveF}_exercicio7.csv', header=True, sep=',', index=False)
else:
    print('O exercício exercicio7 não tem condições de ser avaliado.')
    
bonus3 = {}

bonus3['variavel'] = []
bonus3['valor'] = []
if 'bonus_a' in globals():
    bonus3['variavel'].append('bonus_a')
    bonus3['valor'].append(bonus_a)
if 'bonus_b' in globals():
    bonus3['variavel'].append('bonus_b')
    bonus3['valor'].append(bonus_b)
if 'bonus_c' in globals():
    bonus3['variavel'].append('bonus_c')
    bonus3['valor'].append(bonus_c)
if 'bonus_d' in globals():
    bonus3['variavel'].append('bonus_d')
    bonus3['valor'].append(bonus_d)
if 'bonus_e' in globals():
    bonus3['variavel'].append('bonus_e')
    bonus3['valor'].append(bonus_e)
if 'bonus_f' in globals():
    bonus3['variavel'].append('bonus_f')
    bonus3['valor'].append(bonus_f)

bonus3 = pd.DataFrame(bonus3)
if bonus3.shape[0] == 6:
    print('Variáveis bonus_a, bonus_b, bonus_c, bonus_d, bonus_e e bonus_f localizadas. Elas poderão ser enviadas para validação.')
    bonus3.to_csv(f'{chaveF}_bonus3.csv', header=True, sep=',', index=False)
else:
    print('O Exercício Bônus 3 não tem condições de ser avaliado.')

DataFrame exercicio1 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio2 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio3 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio4 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio5 localizado. Ele poderá ser enviado para validação.
DataFrame exercicio6 localizado. Ele poderá ser enviado para validação.
O exercício bonus1 não tem condições de ser avaliado.
O exercício bonus2 não tem condições de ser avaliado.
Variáveis e7a, e7b, e7c,e e7d localizadas. Elas poderão ser enviadas para validação.
O Exercício Bônus 3 não tem condições de ser avaliado.